<!DOCTYPE html>
html
  head
    style(type="text/css").

        table, td {
          mso-table-lspace: 0pt;
          mso-table-rspace: 0pt;
          border-collapse: collapse;
        }


        .text-right {
            text-align: right!important;
        }

        .text-green {
            color: #1FBBA6 !important;
        }

        .text-grey {
            color: #c8c7cc !important;
        }

        .text-red {
            color: #C82E29 !important;
        }

        .insightTable {
            margin: 15px auto;
            font-family: Arial;
        }

        .insightTable td
         {
            border: 1px solid #eee;
            padding: 10px;
        }
        .headRow {

            font-size: 15px;
            color: #42aac2;
            text-transform: uppercase;
            font-weight: bold;
            background: #e3f9ff;
        }
        .spacer {
            background: #FAFAFA
        }
        p.text {
            font-size:14px;
            font-family: Arial;
            text-align: center;
            padding-top: 10px
        }
        p.text-small {
            font-size:10px;
            font-family: Arial;
            text-align: center;
            padding-top: 5px;
        }
        .textCenter {
            text-align: center!important;
        }
        .text-left {
            font-size:14px;
            font-family: Arial;
            padding-top: 10px
            text-align: left!important;
        }

  body
    table.insightTable
        thead
            tr.headRow
                td
                td Last Week
                td Previous Week
                td Trend
        tbody
            each row in reports
                tr
                    td= row.name
                    td.textCenter= row.lastWeek
                    td.textCenter= row.previousWeek
                    - var textClass = '';
                    - if(row.rawTrend < 0) textClass = 'text-red';
                    - if(row.rawTrend > 0) textClass = 'text-green';
                    td.textCenter(class=textClass) #{row.trend} !{row.imgsrc}

    if loginTime
        p.text Your most recent login was at #{loginTime}
        if loginIP
            p.text-small.text-grey This login was made from IP Address #{loginIP} near #{loginCity}, #{loginState}

    else
        p.text There have been no logins to your account.
