//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.


#leftnav.leftpanel.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left
    .logopanel
        if account
            if account.company.logo
                h1
                    img(src="#{account.company.logo}" style="max-height:40px;")
            else if account.company.name
                h1 #{account.company.name}
            else
                h1 #{account.subdomain}

    // logopanel
    .leftpanelinner
        //This is only visible to small devices
        //- div.hidden
        //-     .media.userlogged
        //-         if photo
        //-             img.media-object(alt="" src="#{photo.url}" style="max-height:40px; max-width:60px;")
        //-         .media-body
        //-             h4 #{user.first} #{user.last}

        ul.nav.nav-pills.nav-stacked.nav-bracket
            li().website-li: a(href="#/website")
                i.fa.fa-desktop
                span Website
            li().contacts-li: a(href="#/customer")
                i.fa.fa-users
                span Customers
            li().commerce-li: a(href="#/commerce")
                i.fa.fa-shopping-cart
                span Commerce
            li().marketing-li: a(href="#/marketing")
                    i.fa.fa-bullhorn
                    span Marketing
            li().dashboard-li: a(href="#/dashboard")
                i.fa.fa-bar-chart
                span Dashboard
            li().account-li: a(href="#/account")
                    i.fa.fa-sliders
                    span Account
            li().support-li: a(href="#/support")
                    i.fa.fa-question-circle
                    span Support
            li().logout-li: a(ui-sref="logout")
                    i.fa.fa-sign-out
                    span Sign Out
            li().beta-li: span.label.label-primary BETA
