//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

doctype html
html(lang='en', data-ng-app='clipApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='HandheldFriendly', content='true')
    meta(name='apple-touch-fullscreen', content='yes')
    title(data-ng-bind='pageTitle()') Indigenous.IO
    // Google fonts
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    // Bootstrap
    link(rel='stylesheet', href='../js/libs/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='../js/libs/font-awesome/css/font-awesome.min.css')
    // Themify Icons
    link(rel='stylesheet', href='../js/libs/themify-icons/themify-icons.css')
    // Loading Bar
    link(rel='stylesheet', href='../js/libs/angular-loading-bar/build/loading-bar.min.css')
    // Animate Css
    link(rel='stylesheet', href='../js/libs/animate.css/animate.min.css')
    // Clip-Two CSS
    link(rel='stylesheet', href='assets/css/styles.css')
    link(rel='stylesheet', href='assets/css/plugins.css')
    // Clip-Two Theme
    link(rel='stylesheet', data-ng-href='assets/css/themes/{{ app.layout.theme }}.css')
    // DateRangePicker
    link(rel='stylesheet', href='../js/libs/bootstrap-daterangepicker/daterangepicker-bs3.css')
    //Spectrum Color DateRangePicker
    link(rel='stylesheet', href='../js/libs/spectrum/spectrum.css')
    //NG Sortable
    link(rel='stylesheet', href='/js/libs/ng-sortable/dist/ng-sortable.min.css')
    // Social Links
    link(rel='stylesheet', href='/js/libs/bootstrap-social/bootstrap-social.css')
    // IconPicker
    link(rel='stylesheet', href='/js/libs/bootstrap-icon-picker/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css')
    // NG Tags Input
    link(rel='stylesheet', href='../js/libs/ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet', href='../js/libs_misc/ng-joyride/ng-joyride.css')
    link(rel='stylesheet', href='../js/libs/allmighty-autocomplete/style/autocomplete.css')
  body(ng-controller='AppCtrl')
    #app(ui-view='', ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}")
    // jQuery
    script(src='../js/libs/jquery/dist/jquery.min.js')
    // Fastclick
    script(src='../js/libs/fastclick/lib/fastclick.js')
    // Angular
    script(src='../js/libs/angular/angular.min.js')
    script(src='../js/libs/angular-cookies/angular-cookies.min.js')
    script(src='../js/libs/angular-animate/angular-animate.min.js')
    script(src='../js/libs/angular-touch/angular-touch.min.js')
    script(src='../js/libs/angular-sanitize/angular-sanitize.min.js')
    script(src='../js/libs/angular-ui-router/release/angular-ui-router.min.js')
    script(src='../js/libs/angular-filter/dist/angular-filter.min.js')
    // Angular storage
    script(src='../js/libs/ngstorage/ngStorage.min.js')
    // Angular Translate
    script(src='../js/libs/angular-translate/angular-translate.min.js')
    script(src='../js/libs/angular-translate-loader-url/angular-translate-loader-url.min.js')
    script(src='../js/libs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js')
    script(src='../js/libs/angular-translate-storage-local/angular-translate-storage-local.min.js')
    script(src='../js/libs/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js')
    //Masonry
    script(src='../js/libs/masonry/dist/masonry.pkgd.min.js')
    script(src='../js/libs/angular-masonry/angular-masonry.js')
    // Utils
    script(src='../js/utils/namespaces.js')
    // oclazyload
    script(src='../js/libs/oclazyload/dist/ocLazyLoad.min.js')
    // breadcrumb
    script(src='../js/libs/angular-breadcrumb/dist/angular-breadcrumb.min.js')
    // UI Bootstrap
    script(src='../js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
    // JoyRide
    script(src='../js/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='../js/libs_misc/ng-joyride/ng-joyride.js')
    // Loading Bar
    script(src='../js/libs/angular-loading-bar/build/loading-bar.min.js')
    // Angular Scroll
    script(src='../js/libs/angular-scroll/angular-scroll.min.js')
    // Angular Scrollify
    script(src='../js/libs/angular-slugify/angular-slugify.js')
    // Underscore
    script(src='../js/libs/underscore/underscore-min.js')
    script(src='../js/libs/allmighty-autocomplete/script/autocomplete.js')
    script(src='../js/libs/bootstrap-icon-picker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.2.0.min.js')
    script(src= '../js/libs/bootstrap-icon-picker/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js')
    //config
    script(src="../js/scripts/config.js")
    // Keen Library
    script(type="text/javascript")
        !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.1.0/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
    // Scripts
    script(src='assets/js/app.js')
    script(src='assets/js/main.js')
    script(src='assets/js/config.constant.js')
    script(src='assets/js/config.router.js')
    // Directives
    script(src='assets/js/directives/toggle.js')
    script(src='assets/js/directives/perfect-scrollbar.js')
    script(src='assets/js/directives/empty-links.js')
    script(src='assets/js/directives/sidebars.js')
    script(src='assets/js/directives/off-click.js')
    script(src='assets/js/directives/full-height.js')
    script(src='assets/js/directives/panel-tools.js')
    script(src='assets/js/directives/char-limit.js')
    script(src='assets/js/directives/dismiss.js')
    script(src='assets/js/directives/compare-to.js')
    script(src='assets/js/directives/select.js')
    script(src='assets/js/directives/messages.js')
    script(src='assets/js/directives/chat.js')
    script(src='assets/js/directives/sparkline.js')
    script(src='assets/js/directives/touchspin.js')
    script(src='assets/js/directives/file-upload.js')
    script(src='assets/js/directives/activity.js')
    script(src='assets/js/directives/social-feed.js')
    script(src='assets/js/directives/skeuocard.js')
    script(src='assets/js/directives/onboarding.js')
    script(src='assets/js/directives/mediadirective.js')
    script(src='assets/js/directives/err-src.js')
    script(src='assets/js/directives/confirm-click.js')
    script(src='assets/js/directives/numbers-only.js')
    //script(src='assets/js/directives/modal.js')
    // Controllers
    script(src='assets/js/controllers/mainCtrl.js')
    // Services
    script(src='assets/js/services/account.js')
    script(src='assets/js/services/product.js')
    script(src='assets/js/services/website.js')
    script(src='assets/js/services/user.js')
    script(src='assets/js/services/customer.js')
    script(src='assets/js/services/import_contacts.js')
    script(src='assets/js/services/chart_analytics.js')
    script(src='assets/js/services/chart_commerce.js')
    script(src='assets/js/services/keen.js')
    script(src='assets/js/services/common.js')
    script(src='assets/js/services/order.js')
    script(src='assets/js/services/payment.js')
    script(src='assets/js/services/toaster.js')
    script(src='assets/js/services/geocode.js')
    // Google Apis
    script(src='//maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization')
    //Stripe
    script(src='https://js.stripe.com/v2/?tmp')

    script(type="text/javascript").
        (function(w,d,s,g,js,fs){g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}}; js=d.createElement(s);fs=d.getElementsByTagName(s)[0]; js.src='https://apis.google.com/js/platform.js'; fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};}(window,document,'script'));

    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/b3st2skm';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

    script(src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js")
    script(src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js")

    script(type="text/javascript").
        var hash = CryptoJS.HmacSHA256('#{user.email}', "vZ7kG_bS_S-jnsNq4M2Vxjsa5mZCxOCJM9nezRUQ");
        window.intercomSettings = {
          name: '#{user.first} #{user.last}',
          email: '#{user.email}',
          user_hash: hash.toString(CryptoJS.enc.Hex),
          created_at: new Date().getTime(),
          app_id: "b3st2skm"
        };

    script(type="text/javascript").
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics
            }
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key)
        }
        window.analytics.load = function (t) {
            if (!document.getElementById("analytics-js")) {
                var a = document.createElement("script");
                a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(a, n)
            }
        }, window.analytics.SNIPPET_VERSION = "2.0.9",
                window.analytics.load('#{segmentIOWriteKey}');
        window.analytics.page('admin', {accountId:#{account._id}});


    include _serverprops
