//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

#preloader
           #status
            img(src='/assets/icons/loader.gif')

#leftnav.leftpanel
    .logopanel
        if account
            if account.company.logo
                h1
                    img(src="#{account.company.logo}" style="max-height:40px;")
                    | #{account.company.name}
            else
                h1 #{account.company.name}
        else
            h1 #{title}

    // logopanel
    .leftpanelinner
        //This is only visible to small devices
        div.hidden
            .media.userlogged
                if photo
                    img.media-object(alt="" src="#{photo.url}" style="max-height:40px; max-width:60px;")
                .media-body
                    h4 #{user.first} #{user.last}

        ul.nav.nav-pills.nav-stacked.nav-bracket
            li().contacts-li: a(href="/admin/contacts")
                i.fa.fa-users
                span Customers
            li().website-li: a(href="/admin/website")
                i.fa.fa-desktop
                span Website
            li().marketing-li: a(href="/admin/pipeshift")
                    i.fa.fa-bullhorn
                    span Marketing
            li().website-li: a(href="/admin/commerce")
                i.fa.fa-shopping-cart
                span Commerce
            li().dashboard-li: a(href="/admin/dashboard")
                i.fa.fa-home
                span Dashboard
            li(): a(href="#/account")
                    i.fa.fa-cog
                    span Account
            li().logout-li: a(href="/logout")
                    i.fa.fa-sign-out
                    span Sign Out
