//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

doctype html
//if lt IE 7
    html(class="no-js ie6 oldie", lang="en")
//if IE 7
    html(class="no-js ie7 oldie", lang="en")
//if IE 8
    html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]
    head
        block head
            //- override this to include a different head section (e.g. requirehead.jade)
            block headattributes
                include standardhead
            title=title

            link(rel='stylesheet', href='/css/style.default.css')
            link(rel='stylesheet', href='/css/style.inverse.css')
            link(rel='stylesheet',href='/pipeshift/css/animate.css')
            link(rel='stylesheet', href='/pipeshift/css/site.css')
            link(rel='stylesheet', href='/js/libs/gridster/dist/jquery.gridster.min.css')
    body
        section
            include _admin_leftnav

            .mainpanel
                include _headerbar

                if errorMsg
                    #error-msg.alert.alert-danger
                        button.close(type="button" aria-hidden="true") &times;
                        span.message #{errorMsg}
                else
                    #error-msg.alert.alert-danger.hidden
                        button.close(type="button" aria-hidden="true") &times;
                        span.message #{errorMsg}

                if infoMsg
                    #info-msg.alert.alert-info
                        button.close(type="button" aria-hidden="true") &times;
                        span.message #{infoMsg}
                else
                    #info-msg.alert.alert-info.hidden
                        button.close(type="button" aria-hidden="true") &times;
                        span.message #{infoMsg}

                #main-viewport
                    block content
                        //- Anything here gets overwritten by sub views that extend "block content"


                //- some common modals
                #common-modal.modal.fade(aria-labelledby="common modal" aria-hidden="true")
                    .modal-dialog
                        .modal-content

                //- common progress modal
                #common-progress.modal.fade(aria-labelledby="common progress modal" aria-hidden="true")
                    .modal-dialog
                        .modal-content
                            #common-progress-title.modal-header Progress...
                            .modal-body
                                .progress.progress-striped.active(style="height:40px;")
                                    .progress-bar.progress-bar-success(style="width:100%; padding-top:10px;")
                                        span(style="font-size:18px") Processing...
                            #common-progress-label.modal-footer

                #common-modal-iframe.modal.fade(aria-labelledby="common modal iframe" aria-hidden="true")
                    .modal-dialog
                        .modal-content
                            .modal-header
                            .modal-body
                                iframe(id="common-modal-iframe-value" src="" style="width:100%; height:300px; border: 1px solid #ccc;")
                            .modal-footer

            #rightpanel

        include _serverprops