//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@INDIGENOUS SOFTWARE, INC. for approval or questions.

.masthead.container#header
    div.navbar.navbar-default(role="navigation")
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                if account
                    if account.company.logo
                        a.accountLogo(href="#"): span: img(src="#{account.company.logo}" style="max-height:40px;")
                    else
                        a.navbar-brand(href="#") #{account.company.name}
                else
                    a.navbar-brand(href="#") #{title}
            div.navbar-collapse.collapse
                ul.nav.navbar-nav

                p.navbar-text.navbar-right
                    if isLoggedIn
                        if photo
                            img.img-rounded(src="#{photo.url}" style="max-height:40px; max-width:60px;")
                        else
                          |Signed in as &nbsp;
                        a(href="/myaccount") #{user.username}
                        |&nbsp;
                        a(href="/logout" title="Sign out")
                            i.glyphicon.glyphicon-log-out
                    else
                        |You're not signed in &nbsp;
                        a(href="/login" title="sign in")
                            i.glyphicon.glyphicon-log-in

    .clearfix

    h5 Professionalize your passion
