//-
    * COPYRIGHT CMConsulting LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact christopher.mina@gmail.com for approval or questions.

.leftpanel
    .logopanel
        if account
            if account.company.logo
                h1
                    img(src="#{account.company.logo}" style="max-height:40px;")
                    | #{account.company.name}
            else
                h1 #{account.company.name}
        else
            h1 #{title}

    // logopanel
    .leftpanelinner
        //This is only visible to small devices
        .visible-xs.hidden-sm.hidden-md.hidden-lg
            .media.userlogged
                if photo
                    img.media-object(alt="" src="#{photo.url}" style="max-height:40px; max-width:60px;")
                .media-body
                    h4 #{user.username}

            h5.sidebartitle.actitle Account
            ul.nav.nav-pills.nav-stacked.nav-bracket.mb30
                li(data-toggle="pill"): a(href="/profile")
                    i.fa.fa-user
                    span Profile
                li(data-toggle="pill"): a(href="/account")
                    i.fa.fa-cog
                    span Account Settings
                li(data-toggle="pill"): a(href="/help")
                    i.fa.fa-question-circle
                    span Help
                li(data-toggle="pill"): a(href="/logout")
                    i.fa.fa-sign-out
                    span Sign Out

        h5.sidebartitle Navigation
        ul.nav.nav-pills.nav-stacked.nav-bracket
            li(data-toggle="pill").dash-li: a(href="/dashboard")
                i.fa.fa-home
                span Dashboard
            li(data-toggle="pill").contacts-li: a(href="/contacts")
                i.fa.fa-users
                span Customers
            li(data-toggle="pill").activity-li: a(href="/activity")
                i.fa.fa-calendar
                span Activity
            li(data-toggle="pill").marketing-li
                a(href="/marketing/campaigns")
                    i.fa.fa-bullhorn
                    span Marketing
                ul.children
                    li: a(href="/marketing/campaigns")
                        i.fa.fa-caret-right
                        |Campaigns
                    li: a(href="/marketing/social")
                        i.fa.fa-caret-right
                        |Social
                    li: a(href="/marketing/online")
                        i.fa.fa-caret-right
                        |Online
                    li: a(href="/marketing/print")
                        i.fa.fa-caret-right
                        |Print
            li(data-toggle="pill").website-li: a(href="/website")
                i.fa.fa-desktop
                span Website
            li(data-toggle="pill").store-li.nav-parent
                a(href="#")
                    i.fa.fa-shopping-cart
                    span Commerce
                ul.children
                    li
                        a(href='#')
                            i.fa.fa-caret-right
                            |Products
                    li
                        a(href='#')
                            i.fa.fa-caret-right
                            |Promotions
            li(data-toggle="pill").settings-li: a(href="#")
                i.fa.fa-wrench
                span Settings
            li(data-toggle="pill").support-li: a(href="#")
                i.fa.fa-umbrella
                span Support
