script(src="/admin/assets/js/admin-vendor-indigenous.js")
script(src="/admin/assets/js/ng-admin-indigenous.js")


// Google Apis
script(src='//maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,places')
//Stripe
script(src='https://js.stripe.com/v2/?tmp')

script(type="text/javascript").
    (function(w,d,s,g,js,fs){g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}}; js=d.createElement(s);fs=d.getElementsByTagName(s)[0]; js.src='https://apis.google.com/js/platform.js'; fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};}(window,document,'script'));

script.
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/b3st2skm';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

script(src="../js/libs_misc/crypto/hmac-sha256.js")
script(src="../js/libs_misc/crypto/enc-base64-min.js")

if environment == 'local'

    script(type="text/javascript").
        var appId = 'ozyfh8ff';
        if(window.indigenous && window.indigenous.orgId === 2) {
            appId = 'we6izefz';//TEST Securematics
        }
        window.intercomSettings = {
            name: '#{user.first} #{user.last}',
            email: '#{user.email}',
            user_hash: '#{user.intercomHash}',
            app_id: appId,
            'accountId':#{account._id},
            'userId':#{user._id}
        };
        console.log('Test Environment: #{environment}');

    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

else if environment == 'test'

    script(type="text/javascript").
        var appId = 'ozyfh8ff';
        if(window.indigenous && window.indigenous.orgId === 2) {
            appId = 'we6izefz';//TEST Securematics
        }
        window.intercomSettings = {
            name: '#{user.first} #{user.last}',
            email: '#{user.email}',
            user_hash: '#{user.intercomHash}',
            app_id: appId,
            'accountId':#{account._id},
            'userId':#{user._id}
        };
        console.log('Test Environment: #{environment}');

    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

else
    script(type="text/javascript").
        var appId = 'b3st2skm';
        if(window.indigenous && window.indigenous.orgId === 2) {
            appId = 'ncf278sy';//PROD Securematics
        }
        window.intercomSettings = {
            name: '#{user.first} #{user.last}',
            email: '#{user.email}',
            user_hash: '#{user.intercomHash}',
            app_id: appId,
            'accountId':#{account._id},
            'userId':#{user._id}
        };
        //console.log('Environment: [#{environment}]');
    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()


