//- START AUTOINCLUDE SECTION
// jQuery
script(src='../js/libs/jquery/dist/jquery.min.js')
// Fastclick
script(src='../js/libs/fastclick/lib/fastclick.js')
// Angular
script(src='../js/libs/angular/angular.min.js')
script(src='../js/libs/angular-cookies/angular-cookies.min.js')
script(src='../js/libs/angular-animate/angular-animate.min.js')
script(src='../js/libs/angular-touch/angular-touch.min.js')
script(src='../js/libs/angular-sanitize/angular-sanitize.min.js')
script(src='../js/libs/angular-ui-router/release/angular-ui-router.min.js')
script(src='../js/libs/angular-filter/dist/angular-filter.min.js')
// Angular storage
script(src='../js/libs/ngstorage/ngStorage.min.js')
// Angular Translate
script(src='../js/libs/angular-translate/angular-translate.min.js')
script(src='../js/libs/angular-translate-loader-url/angular-translate-loader-url.min.js')
script(src='../js/libs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js')
script(src='../js/libs/angular-translate-storage-local/angular-translate-storage-local.min.js')
script(src='../js/libs/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js')

// oclazyload
script(src='../js/libs/oclazyload/dist/ocLazyLoad.min.js')
// breadcrumb
script(src='../js/libs/angular-breadcrumb/dist/angular-breadcrumb.min.js')
// UI Bootstrap
script(src='../js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
// JoyRide
script(src='../js/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='../js/libs_misc/ng-joyride/ng-joyride.js')
// Loading Bar
script(src='../js/libs/angular-loading-bar/build/loading-bar.min.js')
// Angular Scroll
script(src='../js/libs/angular-scroll/angular-scroll.min.js')
// Angular Scrollify
script(src='../js/libs/angular-slugify/angular-slugify.js')
// Underscore
script(src='../js/libs/underscore/underscore-min.js')
script(src='../js/libs/allmighty-autocomplete/script/autocomplete.js')
script(src='../js/libs/bootstrap-icon-picker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.2.0.min.js')
script(src='../js/libs/bootstrap-icon-picker/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js')
//config
script(src="../js/scripts/config.js")
script(src="../js/utils/namespaces.js")
//- END AUTOINCLUDE SECTION
// Keen Library
script(type="text/javascript").
    !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.1.0/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
// Scripts
script(src='assets/js/app.js')
script(src='assets/js/main.js')
script(src='assets/js/config.constant.js')
script(src='assets/js/config.router.js')
// Directives
script(src='assets/js/directives/toggle.js')
script(src='assets/js/directives/perfect-scrollbar.js')
script(src='assets/js/directives/empty-links.js')
script(src='assets/js/directives/sidebars.js')
script(src='assets/js/directives/off-click.js')
script(src='assets/js/directives/full-height.js')
script(src='assets/js/directives/panel-tools.js')
script(src='assets/js/directives/char-limit.js')
script(src='assets/js/directives/dismiss.js')
script(src='assets/js/directives/compare-to.js')
script(src='assets/js/directives/select.js')
script(src='assets/js/directives/messages.js')
script(src='assets/js/directives/chat.js')
script(src='assets/js/directives/sparkline.js')
script(src='assets/js/directives/touchspin.js')
script(src='assets/js/directives/file-upload.js')
script(src='assets/js/directives/activity.js')
script(src='assets/js/directives/social-feed.js')
script(src='assets/js/directives/skeuocard.js')
script(src='assets/js/directives/onboarding.js')
script(src='assets/js/directives/err-src.js')
script(src='assets/js/directives/confirm-click.js')
script(src='assets/js/directives/numbers-only.js')
script(src='assets/js/directives/smart-table-sort.js')
script(src="assets/js/directives/include-replace.js")
script(src="assets/js/directives/carousel.js")
script(src="assets/js/directives/angularparallax.js")
script(src="assets/js/directives/file-change.js")
script(src="assets/js/directives/show-settings.js")

// Components
script(src="assets/js/directives/editor.js")
script(src="assets/js/directives/social-links.js")
script(src="assets/js/directives/components/blog.js")
script(src="assets/js/directives/components/blog-teaser.js")
script(src="assets/js/directives/components/contact-us.js")
script(src="assets/js/directives/components/coming-soon.js")
script(src="assets/js/directives/components/email.js")
script(src="assets/js/directives/components/feature-block.js")
script(src="assets/js/directives/components/feature-list.js")
script(src="assets/js/directives/components/footer.js")
script(src="assets/js/directives/components/image-text.js")
script(src="assets/js/directives/components/image-gallery.js")
script(src="assets/js/directives/components/masthead.js")
script(src="assets/js/directives/components/meet-team.js")
script(src="assets/js/directives/components/navigation.js")
script(src="assets/js/directives/components/products.js")
script(src="assets/js/directives/components/pricing-tables.js")
script(src="assets/js/directives/components/simple-form.js")
script(src="assets/js/directives/components/single-post.js")
script(src="assets/js/directives/components/social-link.js")
script(src="assets/js/directives/components/testimonials.js")
script(src="assets/js/directives/components/text-only.js")
script(src="assets/js/directives/components/thumbnail-slider.js")
script(src="assets/js/directives/components/top-bar.js")
script(src="assets/js/directives/components/video.js")
script(src="assets/js/directives/tooltip.js")

//script(src='assets/js/directives/modal.js')
// Controllers
script(src='assets/js/controllers/mainCtrl.js')
// Services
script(src='assets/js/services/account.js')
script(src='assets/js/services/product.js')
script(src='assets/js/services/website.js')
script(src='assets/js/services/user.js')
script(src='assets/js/services/customer.js')
script(src='assets/js/services/import_contacts.js')
script(src='assets/js/services/chart_analytics.js')
script(src='assets/js/services/chart_commerce.js')
script(src='assets/js/services/chart_email.js')
script(src='assets/js/services/keen.js')
script(src='assets/js/services/common.js')
script(src='assets/js/services/order.js')
script(src='assets/js/services/payment.js')
script(src='assets/js/services/toaster.js')
script(src='assets/js/services/geocode.js')

// Google Apis
script(src='//maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,places')
//Stripe
script(src='https://js.stripe.com/v2/?tmp')

script(type="text/javascript").
    (function(w,d,s,g,js,fs){g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}}; js=d.createElement(s);fs=d.getElementsByTagName(s)[0]; js.src='https://apis.google.com/js/platform.js'; fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};}(window,document,'script'));
    
script(src="../js/libs_misc/crypto/hmac-sha256.js")
script(src="../js/libs_misc/crypto/enc-base64-min.js")

if account._id == 6 && account.accountUrl != 'https://main.indigenous.io'

      script(type="text/javascript").
        var hash = CryptoJS.HmacSHA256('#{user.email}', "vZ7kG_bS_S-jnsNq4M2Vxjsa5mZCxOCJM9nezRUQ");
        window.intercomSettings = {
          name: '#{user.first} #{user.last}',
          email: '#{user.email}',
          user_hash: hash.toString(CryptoJS.enc.Hex),
          app_id: "ozyfh8ff",
          'accountId':#{account._id},
          'userId':#{user._id}
        };

      script.
          (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()


if account._id == 6 && account.accountUrl == 'https://main.indigenous.io'

      script(type="text/javascript").
          var hash = CryptoJS.HmacSHA256('#{user.email}', "vZ7kG_bS_S-jnsNq4M2Vxjsa5mZCxOCJM9nezRUQ");
          window.intercomSettings = {
            name: '#{user.first} #{user.last}',
            email: '#{user.email}',
            user_hash: hash.toString(CryptoJS.enc.Hex),
            app_id: "b3st2skm",
            'accountId':#{account._id},
            'userId':#{user._id}
          };

      script.
          (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()


      // Facebook Conversion Code for Free Trial Sign-ups
      script.
          (function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
          }
          })();
          window._fbq = window._fbq || [];
          window._fbq.push(['track', '6032779610613', {'value':'0.00','currency':'USD'}]);
      noscript
          img(height='1', width='1', alt='', style='display:none', src='https://www.facebook.com/tr?ev=6032779610613&cd[value]=0.00&cd[currency]=USD&noscript=1')

script(type="text/javascript").
    window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) {
        return function () {
            var a = Array.prototype.slice.call(arguments);
            return a.unshift(t), window.analytics.push(a), window.analytics
        }
    };
    for (var i = 0; i < window.analytics.methods.length; i++) {
        var key = window.analytics.methods[i];
        window.analytics[key] = window.analytics.factory(key)
    }
    window.analytics.load = function (t) {
        if (!document.getElementById("analytics-js")) {
            var a = document.createElement("script");
            a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n)
        }
    }, window.analytics.SNIPPET_VERSION = "2.0.9",
            window.analytics.load('#{segmentIOWriteKey}');
    window.analytics.page('admin', {accountId:#{account._id}});