script(type="text/javascript").
    var loadSegment = false;
    if(loadSegment) {
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics
            }
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key)
        }
        window.analytics.load = function (t) {
            if (!document.getElementById("analytics-js")) {
                var a = document.createElement("script");
                a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(a, n)
            }
        }, window.analytics.SNIPPET_VERSION = "2.0.9",
                window.analytics.load('#{segmentIOWriteKey}');
        window.analytics.page('Index', {accountId:#{account._id}});
    }



script(src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")

if account.website.settings.font_family && account.website.settings.font_family_2
    script(type="text/javascript").
        WebFont.load({
          google: {
                 families: [#{"'"+account.website.settings.font_family+"'"}, #{"'"+account.website.settings.font_family_2+"'"}]
           }
        });


script(type="text/javascript").
    WebFont.load({
        google: {
            families: ['Roboto', 'Roboto Condensed', 'Roboto Slab', 'Oswald', 'Montserrat', 'Droid Serif', 'Open Sans', 'Open Sans Condensed', 'Lato', 'Raleway', 'Quicksand', 'Ubuntu', 'Merriweather', 'Quattrocento', 'Lora', 'Playfair Display', 'Pacifico', 'Satisfy', 'Parisienne', 'Petit Formal Script', 'Indie Flower', 'Shadows Into Light Two', 'Amatic SC', 'Neucha', 'Schoolbell', 'Itim', 'Patrick Hand SC', 'Delius Swash Caps' ]
        }
    });
    window.WebFontConfig = {
        active: function() {
            sessionStorage.fonts = true;
        }
    }

if (typeof account.website.theme !== 'undefined' && typeof account.website.themeOverrides !== 'undefined')
    style.
        .ssb-theme-#{account.website.theme.handle} {
            color: #{account.website.themeOverrides.styles.primaryTextColor};
            font-family: !{account.website.themeOverrides.defaultFontStack};
            background-color: #{account.website.themeOverrides.styles.bodyBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout {
            background-color: #{account.website.themeOverrides.styles.bodyBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-navigation a {
            color: #{account.website.themeOverrides.styles.primaryTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header {
            background-color: #{account.website.themeOverrides.styles.headerBackgroundColor};
            color: #{account.website.themeOverrides.styles.headerTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header [ssb-text-component] {
            /*color: #{account.website.themeOverrides.styles.headerColor};*/
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero {
            background-color: #{account.website.themeOverrides.styles.heroBackgroundColor};
            color: #{account.website.themeOverrides.styles.heroTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero [ssb-text-component] {
            /*color: #{account.website.themeOverrides.styles.heroColor};*/
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-heading-text {
            font-size: #{account.website.themeOverrides.styles.headingSize};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-paragraph-text {
            font-size: #{account.website.themeOverrides.styles.paragraphSize};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:hover {
            background-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
            color: #{account.website.themeOverrides.styles.primaryBtnTextColor};
            border-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:hover, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:active, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:focus {
            background-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor}!important;
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:hover {
            background-color: transparent;
            border-color: transparent;
            color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:hover, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:active, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:focus {
            background-color: transparent;
        }

        .ssb-theme-young-soul .navbar-toggle .icon-bar {
            /*background-color: #{account.website.themeOverrides.styles.primaryBtnTextColor};*/
        }

        .ssb-theme-btn.ssb-theme-btn-style-11 {
            color: #{account.website.themeOverrides.styles.primaryBtnTextColor};
            border: 1px solid #{account.website.themeOverrides.styles.primaryBtnTextColor};
        }

        .ssb-theme-btn.ssb-theme-btn-style-12 {
            color: #{account.website.themeOverrides.styles.primaryBtnTextColor};
            border: 1px solid #{account.website.themeOverrides.styles.primaryBtnTextColor};
        }


        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout [testimonials-component] .slick-dots li button:before,.ssb-theme-#{account.website.theme.handle} .ssb-section-layout [image-gallery-component] .slick-dots li button:before, .ssb-theme-#{account.website.theme.handle} .ssb-section-layout .ssb-blog-featured-slider .slick-dots li button:before {
            color: #{account.website.themeOverrides.styles.primarySliderDotColor};
            opacity: #{account.website.themeOverrides.styles.primarySliderDotColorOpacity};
        }


        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout [testimonials-component] .slick-dots li.slick-active button:before, .ssb-theme-#{account.website.theme.handle} .ssb-section-layout [image-gallery-component] .slick-dots li.slick-active button:before, .ssb-theme-#{account.website.theme.handle} .ssb-section-layout .ssb-blog-featured-slider .slick-dots li.slick-active button:before {
            color: #{account.website.themeOverrides.styles.primarySliderActiveDotColor};
        }

        @media screen and (min-width: 768px) {

            .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header [ssb-text-component] {
                font-size: #{account.website.themeOverrides.styles.headerSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero [ssb-text-component] {
                font-size: #{account.website.themeOverrides.styles.heroSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-theme-heading-text {
                font-size: #{account.website.themeOverrides.styles.headingSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-theme-paragraph-text {
                font-size: #{account.website.themeOverrides.styles.paragraphSize};
            }

        }




if pages
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.pages = !{JSON.stringify(pages)};

if posts
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.posts = !{JSON.stringify(posts)};        

if post
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.post = !{JSON.stringify(post)};

if website
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.linkList = !{JSON.stringify(website.linkLists)};

