script(type="text/javascript").
    var loadSegment = false;
    if(loadSegment) {
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics
            }
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key)
        }
        window.analytics.load = function (t) {
            if (!document.getElementById("analytics-js")) {
                var a = document.createElement("script");
                a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(a, n)
            }
        }, window.analytics.SNIPPET_VERSION = "2.0.9",
                window.analytics.load('#{segmentIOWriteKey}');
        window.analytics.page('Index', {accountId:#{account._id}});
    }

script(type="text/javascript").
    window.indigenous = window.indigenous || {};
    window.indigenous.orgId = #{account.orgId};
    window.indigenous.defaultBlog = #{account.website.settings.defaultBlog | ''};
    window.indigenous.fonts = "#{account.fonts}".split('|');

script(type="text/javascript").
    var defaultFamilies = ['Roboto:200,400,700', 'Roboto Condensed:200,400,700', 'Roboto Slab:200,400,700', 'Oswald:200,400,700', 'Montserrat:200,400,700', 'Droid Serif:200,400,700', 'Open Sans:200,400,700', 'Open Sans Condensed:200,400,700', 'Lato:200,400,700', 'Raleway:200,400,700', 'Quicksand:200,400,700', 'Ubuntu:200,400,700', 'Merriweather:200,400,700', 'Quattrocento:200,400,700', 'Lora:200,400,700', 'Playfair Display:200,400,700', 'Pacifico:200,400,700', 'Satisfy:200,400,700', 'Parisienne:200,400,700', 'Petit Formal Script:200,400,700', 'Indie Flower:200,400,700', 'Shadows Into Light Two:200,400,700', 'Amatic SC:200,400,700', 'Neucha:200,400,700', 'Schoolbell:200,400,700', 'Itim:200,400,700', 'Patrick Hand SC:200,400,700', 'Delius Swash Caps:200,400,700', 'PT Sans:200,400,700', 'Nunito:200,400,700', 'Cinzel:200,400,700', 'Titillium+Web:200,400,700' ];
    var families = window.indigenous.fonts
    if(families.length === 1 && families[0] === '') {
        families = defaultFamilies;
    }
    WebFontConfig = {
        google: {
            families: families
        }
    };
    if(#{"'"+account.website.settings.font_family+"'"}!='undefined' &&
            #{"'"+account.website.settings.font_family_2+"'"} !='undefined'){
        WebFontConfig.google.families.push(#{"'"+account.website.settings.font_family+"'"})
        WebFontConfig.google.families.push(#{"'"+account.website.settings.font_family_2+"'"})
    }

    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();



if (typeof account.website.theme !== 'undefined' && typeof account.website.themeOverrides !== 'undefined')
    style.
        .ssb-theme-#{account.website.theme.handle} {
            color: #{account.website.themeOverrides.styles.primaryTextColor};
            background-color: #{account.website.themeOverrides.styles.bodyBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout {
            background-color: #{account.website.themeOverrides.styles.bodyBackgroundColor};
            font-family: !{account.website.themeOverrides.defaultFontStack};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout .ssb-component .element-wrap, .ssb-theme-#{account.website.theme.handle} .ssb-section-layout .ssb-component .footer-container .powered-by{
            font-size: #{account.website.themeOverrides.styles.fontSize}px;
            font-family: #{account.website.themeOverrides.styles.fontFamily};
            letter-spacing: #{account.website.themeOverrides.styles.letterSpacing}px;
            font-weight: #{account.website.themeOverrides.styles.fontWeight};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout .ssb-component .element-wrap .ssb-element-button{
            font-size: #{account.website.themeOverrides.styles.fontSize}px;
            font-family: #{account.website.themeOverrides.styles.fontFamily};
            letter-spacing: #{account.website.themeOverrides.styles.letterSpacing}px;
            font-weight: #{account.website.themeOverrides.styles.fontWeight};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-navigation a {
            color: #{account.website.themeOverrides.styles.primaryTextColor};
        }

         .ssb-theme-#{account.website.theme.handle} .ssb-section-layout.ssb-page-section-layout-header , .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header {
            background-color: #{account.website.themeOverrides.styles.headerBackgroundColor};
            color: #{account.website.themeOverrides.styles.headerTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header [ssb-text-component] {
            color: #{account.website.themeOverrides.styles.headerColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero ,.ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-nav-hero {
            background-color: #{account.website.themeOverrides.styles.heroBackgroundColor};
            color: #{account.website.themeOverrides.styles.heroTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero [ssb-text-component] ,.ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-nav-hero [ssb-text-component]{
            color: #{account.website.themeOverrides.styles.heroTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-heading-text {
            font-size: #{account.website.themeOverrides.styles.headingSize};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-paragraph-text {
            font-size: #{account.website.themeOverrides.styles.paragraphSize};
        }

        .ssb-theme-#{account.website.theme.handle} .fr-view span[style~="color:"] a.ssb-theme-btn ,.ssb-theme-#{account.website.theme.handle} .ssb-theme-btn, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:hover {
            background-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
            color: #{account.website.themeOverrides.styles.primaryBtnTextColor};
            border-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:hover, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:active, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:focus {
            background-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor}!important;
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:hover {
            background-color: transparent;
            border-color: transparent;
            color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:hover, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:active, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn.btn-link:focus {
            background-color: transparent;
        }

        .ssb-theme-young-soul .navbar-toggle .icon-bar {
            /*background-color: #{account.website.themeOverrides.styles.primaryBtnTextColor};*/
        }

        .ssb-theme-btn.ssb-theme-btn-style-11 {
            color: #{account.website.themeOverrides.styles.primaryBtnTextColor};
            border: 1px solid #{account.website.themeOverrides.styles.primaryBtnTextColor};
        }

        .ssb-theme-btn.ssb-theme-btn-style-12 {
            color: #{account.website.themeOverrides.styles.primaryBtnTextColor};
            border: 1px solid #{account.website.themeOverrides.styles.primaryBtnTextColor};
        }


        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout [testimonials-component] .slick-dots li button:before,.ssb-theme-#{account.website.theme.handle} .ssb-section-layout [image-gallery-component] .slick-dots li button:before, .ssb-theme-#{account.website.theme.handle} .ssb-section-layout .ssb-blog-featured-slider .slick-dots li button:before {
            color: #{account.website.themeOverrides.styles.primarySliderDotColor};
            opacity: #{account.website.themeOverrides.styles.primarySliderDotColorOpacity};
        }


        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout [testimonials-component] .slick-dots li.slick-active button:before, .ssb-theme-#{account.website.theme.handle} .ssb-section-layout [image-gallery-component] .slick-dots li.slick-active button:before, .ssb-theme-#{account.website.theme.handle} .ssb-section-layout .ssb-blog-featured-slider .slick-dots li.slick-active button:before {
            color: #{account.website.themeOverrides.styles.primarySliderActiveDotColor};
        }

        .ssb-theme-btn.btnLaunchCart, .ssb-theme-btn.btnLaunchCart:hover {
            background-color: #{account.website.themeOverrides.styles.checkoutBtnBgColor}!important;
            color: #{account.website.themeOverrides.styles.checkoutBtnTextColor}!important;
            border-color: #{account.website.themeOverrides.styles.checkoutBtnBgColor}!important;
        }

        .ssb-theme-btn.btnLaunchCart:hover, .ssb-theme-btn.btnLaunchCart:active, .ssb-theme-btn.btnLaunchCart:focus {
            background-color: #{account.website.themeOverrides.styles.checkoutBtnBgColor}!important;
        }
        .ssb-page-blog-list .ssb-page-layout-row-2-col>div.col-xs-12 .ssb-section-layout, .ssb-page-blog-list .ssb-page-layout-row-2-col>div.col-xs-12{
             background-color: #{account.website.settings.defaultBlogTemplateBgColor};
        }

        .ssb-blog-post-list.ssb-media-stacked article .ssb-blog-post-body .ssb-tag-heading{
            color : #{account.website.settings.blogTagHeadingColor};
        }

        @media screen and (min-width: 768px) {

            .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header [ssb-text-component] {
                font-size: #{account.website.themeOverrides.styles.headerSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero [ssb-text-component] {
                font-size: #{account.website.themeOverrides.styles.heroSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-theme-heading-text {
                font-size: #{account.website.themeOverrides.styles.headingSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-theme-paragraph-text {
                font-size: #{account.website.themeOverrides.styles.paragraphSize};
            }

            .ssb-page-layout-row-2-col{
                max-width: #{account.website.settings.defaultBlogTemplateWidth}!important;
            }
        }


if pages
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.themeHandle = "#{account.website.theme.handle}";
        window.indigenous.precache.siteData.pages = !{JSON.stringify(pages)};

if page
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.themeHandle = "#{account.website.theme.handle}";
        window.indigenous.precache.siteData.page = !{JSON.stringify(page)};

if posts
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.posts = !{JSON.stringify(posts)};


if post
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.post = !{JSON.stringify(post)};


if website
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.linkList = !{JSON.stringify(website.linkLists)};

if customFonts
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.customFonts = !{JSON.stringify(customFonts)};

| !{customCss}
