link(rel="stylesheet", href="/js/libs/font-awesome/css/font-awesome.css")
link(rel="stylesheet", href="/js/libs/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/js/libs/blueimp-gallery/css/blueimp-gallery.css")
link(rel='stylesheet', href='/css/style.default.css')
link(rel='stylesheet', href='/css/style.inverse.css')
link(rel='stylesheet', href='/pipeshift/css/animate.css')
link(rel='stylesheet', href='/pipeshift/css/site.css')
link(rel="stylesheet", href="/js/libs_misc/jquery.tagsinput/jquery.tagsinput.css")
link(rel="stylesheet", href="/js/libs/ng-tags-input/ng-tags-input.css")

style(type="text/css").

    h1, h2, h3, h4, h5 { font-family: #{account.website.settings.font_family}!important;}
    body { font-family: #{account.website.settings.font_family_2}!important; }

    .btn-primary {
        background: #{account.website.settings.primary_color};
        border-bottom: 4px solid;
        border-color: #{account.website.settings.primary_highlight};
    }

    .btn-primary:hover {
        background: #{account.website.settings.primary_color};
        border-bottom: 4px solid;
        border-color: transparent;
    }

    .btn-success {
        background: #{account.website.settings.secondary_color};
        border-bottom: 4px solid;
        border-color: #{account.website.settings.secondary_highlight};
    }

    .btn-success:hover {
        background: #{account.website.settings.secondary_color};
        border-bottom: 4px solid;
        border-color: transparent;
    }

    .btn-outline:hover {
        background-color: #{account.website.settings.secondary_color}!important;
    }

    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }

