link(rel="stylesheet", href="/js/libs/font-awesome/css/font-awesome.css")
link(rel="stylesheet", href="/js/libs/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/js/libs/blueimp-gallery/css/blueimp-gallery.css")
link(rel='stylesheet', href='/css/style.default_part_1.min.css')
link(rel='stylesheet', href='/css/style.default_part_2.min.css')
link(rel='stylesheet', href='/css/style.inverse.min.css')
link(rel='stylesheet', href='/pipeshift/css/animate.css')
link(rel='stylesheet', href='/pipeshift/css/site.css')
link(rel='stylesheet', href="/js/libs_misc/jquery.tagsinput/jquery.tagsinput.css")
link(rel='stylesheet', href="/js/libs/ng-tags-input/ng-tags-input.css")
link(rel='stylesheet', href='/js/libs/jqcloud2/dist/jqcloud.css')
link(rel='stylesheet', href='/js/libs/skeuocard/lib/css/card.css')
link(rel='stylesheet', href='/js/libs/angular-wizard/dist/angular-wizard.less')
link(rel='stylesheet', href='/js/libs/spectrum/spectrum.css')
link(rel='stylesheet', href='/js/libs/AngularJS-Toaster/toaster.css')
link(rel='stylesheet', href='/js/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
link(rel='stylesheet', href='/js/libs/bootstrap-icon-picker/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css')
link(rel='stylesheet', href='/js/libs/animate.css/animate.min.css')
link(rel='stylesheet', href='/js/libs/bootstrap-daterangepicker/daterangepicker-bs3.css')
link(rel='stylesheet', href='/js/libs/ngOnboarding/dist/ng-onboarding.css')
link(rel='stylesheet', href='/js/libs/bootstrap-daterangepicker/daterangepicker-bs3.css')
link(rel='stylesheet', href='/js/libs/sweetalert/lib/sweet-alert.css')
link(rel='stylesheet', href='/js/libs/slick-carousel/slick/slick.css')
link(rel='stylesheet', href='/js/libs_misc/powertour/css/powertour.2.1.4.css')
link(rel='stylesheet', href='/js/libs_misc/powertour/css/powertour-style-clean.css')
link(rel='stylesheet', href='/js/libs_misc/powertour/css/powertour-connectors.css')
link(rel='stylesheet', href='/js/libs/fullcalendar/dist/fullcalendar.min.css')
link(rel='stylesheet', href='/js/libs/ng-sortable/dist/ng-sortable.min.css')

style(type="text/css").

    h1, h2, h3, h4, h5, h1 .editable, h2 .editable, h3 .editable, h4 .editable, h5 .editable  { font-family: #{account.website.settings.font_family} !important;}
    body { font-family: #{account.website.settings.font_family_2} !important; }

    .btn-primary {
        background: #{account.website.settings.primary_color};
        border-bottom: 4px solid;
        border-color: #{account.website.settings.primary_highlight};
    }

    .btn-primary:hover {
        background: #{account.website.settings.primary_color};
        border-bottom: 4px solid;
        border-color: transparent;
    }

    .btn-success {
        background: #{account.website.settings.secondary_color};
        border-bottom: 4px solid;
        border-color: #{account.website.settings.secondary_highlight};
    }

    .btn-success:hover {
        background: #{account.website.settings.secondary_color};
        border-bottom: 4px solid;
        border-color: transparent;
    }

    .btn-outline:hover {
        background-color: #{account.website.settings.secondary_color}!important;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
