//- PLEASE ENSURE CHANGES TO THIS FILE ARE ALSO PUT INTO index_body_scripts_minimized

<!--[if lt IE 9]>
script(src="../js/libs/es5-shim/es5-shim.js")
script(src="../js/libs/json3/lib/json3.min.js")
<![endif]-->

script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
script(src="https://js.stripe.com/v2/?tmp")
//- START AUTOINCLUDE SECTION
script(src="../js/libs/jquery/dist/jquery.js")
script(src="../js/libs/bootstrap/dist/js/bootstrap.js")
script(src="../js/libs/angular/angular.js")
script(src="../js/scripts/config.js")
script(src="../js/libs/json3/lib/json3.js")
script(src="../js/libs/underscore/underscore.js")
script(src="../js/libs/angular-resource/angular-resource.js")
script(src="../js/libs/angular-cookie/angular-cookie.js")
script(src="../js/libs/angular-sanitize/angular-sanitize.js")
script(src="../js/libs/angular-animate/angular-animate.js")
script(src="../js/libs/angular-touch/angular-touch.js")
script(src="../js/libs/angular-route/angular-route.js")
script(src="../js/libs/angular-ui-router/release/angular-ui-router.js")
script(src="../js/libs/angular-parallax/scripts/angular-parallax.js")
script(src="../js/libs/blueimp-gallery/js/jquery.blueimp-gallery.min.js")
script(src="../js/libs/moment/moment.js")
script(src="../js/libs/angular-moment/angular-moment.js")
script(src="../js/libs/angular-scroll/angular-scroll.js")
script(src="../js/libs/angular-wizard/dist/angular-wizard.js")
script(src="../js/libs/isotope/jquery.isotope.js")
script(src="../js/libs/angular-isotope/dist/angular-isotope.js")
script(src="../js/libs/angular-timer/dist/angular-timer.js")
script(src="../js/libs/jquery-ui/jquery-ui.min.js")
script(src="../js/libs/angular-ui/build/angular-ui.min.js")
script(src="../js/libs/angular-ui/modules/directives/sortable/sortable.js")
script(src="../js/libs/ng-tags-input/ng-tags-input.js")
script(src="../js/libs_misc/videogular/videogular.js")
script(src="../js/libs/videogular-controls/controls.js")
script(src="../js/libs/videogular-overlay-play/overlay-play.js")
script(src="../js/libs/videogular-buffering/buffering.js")
script(src="../js/libs/videogular-poster/poster.js")
script(src="../js/libs/angular-input-date/src/angular-input-date.js")
script(src="../js/libs/skeuocard/lib/js/card.js")
script(src="../js/libs/fingerprint/fingerprint.js")
script(src="../js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(src="../js/libs_misc/jstimezonedetect/jstz.min.js")
script(src='../js/libs/purl/purl.js')
script(src='../js/libs/ua-parser-js/dist/ua-parser.min.js')
script(src='../js/libs_misc/uuid.js')
script(src="../js/scripts/utils.js")
script(src="../js/libs/jqcloud2/dist/jqcloud.min.js")
script(src="../js/libs/angular-jqcloud/angular-jqcloud.js")
script(src="../js/libs/angular-social-links/angular-social-links.js")
script(src="../js/libs_misc/angular-file-upload/angular-file-upload.js")
script(src="../js/libs/leaflet/dist/leaflet.js")
script(src="../js/libs/angular-leaflet-directive/dist/angular-leaflet-directive.min.js")
script(src="../js/libs/slick-carousel/slick/slick.js")
script(src="../js/libs/angular-slick/dist/slick.js")
script(src="../js/libs/bootstrap-datepicker/js/bootstrap-datepicker.js")
script(src="../js/libs/jsVideoUrlParser/release/urlParser.min.js")
script(src="../js/libs_misc/ng-sortable/dist/ng-sortable.js")

//- END AUTOINCLUDE SECTION

script(src="scripts/app.js")
script(src="scripts/directives/dmStyle.js")
script(src="scripts/directives/ngEnter.js")
script(src="scripts/directives/convertHtml.js")
script(src="scripts/controllers/CourseSubscribeModalController.js")
script(src="scripts/directives/coursePreview.js")
script(src="scripts/directives/skeuocard.js")
script(src="scripts/directives/fileChange.js")
script(src="scripts/services/accountService.js")
script(src="scripts/services/analyticsService.js")
script(src="scripts/services/websiteService.js")
script(src="scripts/services/themeService.js")
script(src="scripts/services/campaignService.js")
script(src="scripts/services/pagesService.js")
script(src="scripts/services/postsService.js")
script(src="scripts/services/postService.js")
script(src="scripts/services/paymentService.js")
script(src="scripts/services/productService.js")
script(src="scripts/services/userService.js")
script(src="scripts/services/courseService.js")
script(src="scripts/services/customerService.js")
script(src="scripts/services/pageService.js")
script(src="scripts/filters/CreateUrlFilter.js")
script(src="scripts/filters/generateURLforLinks.js")
script(src="scripts/filters/trustHtml.js")
script(src="scripts/filters/getByProperty.js")
script(src="scripts/filters/getBytype.js")
script(src="scripts/controllers/mainCtrl.js")
script(src="scripts/controllers/blogCtrl.js")
script(src="scripts/controllers/layoutCtrl.js")
script(src="scripts/directives/angularparallax.js")
script(src="scripts/directives/last.js")
script(src="scripts/directives/carousel.js")
script(src="scripts/filters/offset.js")
script(src="scripts/filters/cleanType.js")

if account._id == 6 || account._id == 37
    // begin olark code
    script(data-cfasync='false', type='text/javascript').
      /*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
      f[z]=function(){
      (a.s=a.s||[]).push(arguments)};var a=f[z]._={
      },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
      f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
      0:+new Date};a.P=function(u){
      a.p[u]=new Date-a.p[0]};function s(){
      a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
      hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
      return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
      b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
      b.contentWindow[g].open()}catch(w){
      c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
      var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
      b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
      loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
      /* custom configuration goes here (www.olark.com/documentation) */
      olark.identify('9912-684-10-4763');/*]]>*/
    noscript
      a(href='https://www.olark.com/site/9912-684-10-4763/contact', title='Contact us', target='_blank') Questions? Feedback?
      |  powered by 
      a(href='http://www.olark.com?welcome', title='Olark live chat software') Olark live chat software
    // end olark code

if includeEditor
    include _aloha_editor