script(type="text/javascript").

        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics
            }
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key)
        }
        window.analytics.load = function (t) {
            if (!document.getElementById("analytics-js")) {
                var a = document.createElement("script");
                a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(a, n)
            }
        }, window.analytics.SNIPPET_VERSION = "2.0.9",
                window.analytics.load('#{segmentIOWriteKey}');
        window.analytics.page('Index', {accountId:#{account._id}});

if (account.website.settings.font_family && account.website.settings.font_family_2) || (typeof account.website.theme !== 'undefined' && typeof account.website.theme.hasCustomFonts !== 'undefined' && account.website.theme.hasCustomFonts === true)
    script(src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")

if account.website.settings.font_family && account.website.settings.font_family_2
    script(type="text/javascript").
        WebFont.load({
          google: {
                 families: [#{"'"+account.website.settings.font_family+"'"}, #{"'"+account.website.settings.font_family_2+"'"}]
           }
        });

if (typeof account.website.theme !== 'undefined' && typeof account.website.theme.hasCustomFonts !== 'undefined' & account.website.theme.hasCustomFonts === true)
    script(type="text/javascript").
        WebFont.load({
            google: {
                families: [!{account.website.theme.defaultFontStack}]
            }
        });
        window.WebFontConfig = {
            active: function() {
                sessionStorage.fonts = true;
            }
        }

if (typeof account.website.theme !== 'undefined' && typeof account.website.themeOverrides !== 'undefined')
    style.
        .ssb-theme-#{account.website.theme.handle} {
            color: #{account.website.themeOverrides.primaryTextColor};
            font-family: !{account.website.themeOverrides.defaultFontStack};
            background-color: #{account.website.themeOverrides.styles.bodyBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-section-layout {
            background-color: #{account.website.themeOverrides.styles.bodyBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-navigation a {
            color: #{account.website.themeOverrides.styles.primaryTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header {
            background-color: #{account.website.themeOverrides.styles.headerBackgroundColor};
            color: #{account.website.themeOverrides.styles.headerTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header [ssb-text-component] {
            /*color: #{account.website.themeOverrides.styles.headerColor};*/
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero {
            background-color: #{account.website.themeOverrides.styles.heroBackgroundColor};
            color: #{account.website.themeOverrides.styles.heroColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero [ssb-text-component] {
            /*color: #{account.website.themeOverrides.styles.heroColor};*/
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-heading-text {
            color: #{account.website.themeOverrides.styles.primaryTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-paragraph-text {
            color: #{account.website.themeOverrides.styles.primaryTextColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:hover {
            background-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
            color: #{account.website.themeOverrides.styles.primaryBtnTextColor};
            border-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor};
        }

        .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:hover, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:active, .ssb-theme-#{account.website.theme.handle} .ssb-theme-btn:focus {
            background-color: #{account.website.themeOverrides.styles.primaryBtnBackgroundColor}!important;
        }

        .ssb-theme-young-soul .navbar-toggle .icon-bar {
            /*background-color: #{account.website.themeOverrides.styles.primaryBtnTextColor};*/
        }

        @media screen and (min-width: 768px) {

            .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-header [ssb-text-component] {
                font-size: #{account.website.themeOverrides.styles.headerSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-page-section-layout-hero [ssb-text-component] {
                font-size: #{account.website.themeOverrides.styles.heroSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-theme-heading-text {
                font-size: #{account.website.themeOverrides.styles.headingSize};
            }

            .ssb-theme-#{account.website.theme.handle} .ssb-theme-paragraph-text {
                font-size: #{account.website.themeOverrides.styles.paragraphSize};
            }

        }


if pages
    script(type="text/javascript").
        window.indigenous = window.indigenous || {};
        window.indigenous.precache = window.indigenous.precache || {};
        window.indigenous.precache.siteData = window.indigenous.precache.siteData || {};
        window.indigenous.precache.siteData.pages = !{JSON.stringify(pages)};

if account._id == 890
    script(src="//load.sumome.com/" data-sumo-site-id="ebfbe1c031968e0d81f4ca79b2fdc7a86b9132054a40985e435727147fd894f3")

if account._id == 346
    script(src="//load.sumome.com/" data-sumo-site-id="42b22a1deed3102e2003c6eecda9c8f3df6e27c8271cde498c88526229397b47")
