<!--
* COPYRIGHT CMConsulting LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact christopher.mina@gmail.com for approval or questions.
*
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <meta name="author" content="">

    {{#if settings.favicon}}
        <link rel="shortcut icon" href="{{settings.favicon}}">
    {{else}}
        <link rel="shortcut icon" href="https://s3.amazonaws.com/indigenous-themes/assets/icons/favicon.ico"/>
    {{/if}}

    <title>{{title}}</title>

    <!-- TODO add stylesheets and responsive fallback for IE -->
</head>

<body>
    <div id="header">{{{header}}}</div>

    <div id="body">
        {{#foreach body.components}}
            {{{value}}}
            {{#notequals $last true}}
                <hr/>
            {{/notequals}}
        {{/foreach}}
    </div>

    <br/><br/>
    <div id="footer">{{{footer}}}</div>
</body>