<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <meta name="author" content="">

    {{#if settings.favicon}}
        <link rel="shortcut icon" href="{{settings.favicon}}">
    {{else}}
        <link rel="shortcut icon" href="https://s3.amazonaws.com/indigenous-themes/assets/icons/favicon.ico"/>
    {{/if}}

        <link rel="stylesheet" href="/css/style.default.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <title>{{title}}</title>

    <!-- TODO add stylesheets and responsive fallback for IE -->
    <style type="text/css">
        .navbar-white {
            color: rgb({{ settings.color-palette.color.[0] }},{{ settings.color-palette.color.[1] }},{{ settings.color-palette.color.[2] }});
            border-bottom: 3px solid rgb({{ settings.color-palette.color.[0] }},{{ settings.color-palette.color.[1] }},{{ settings.color-palette.color.[2] }}) !important;
        }
        .color-1 {
            background: rgb({{ settings.color-palette.color.[0] }},{{ settings.color-palette.color.[1] }},{{ settings.color-palette.color.[2] }});
            color: #ffffff;
        }
        .color-8 {
            background: rgb({{ settings.color-palette.palette.[7].[0] }},{{ settings.color-palette.palette.[7].[1] }},{{ settings.color-palette.palette.[7].[2] }});
        }
        .btn-orange {
            background: rgb({{ settings.color-palette.palette.[1].[0] }},{{ settings.color-palette.palette.[1].[1] }},{{ settings.color-palette.palette.[1].[2] }})!important;
            border-bottom: 5px solid rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }})!important;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            border-color: rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }});
        }
        .btn-orange:hover {
            background: rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }})!important;
            border-bottom: 5px solid rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }})!important;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            border-color: rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }});
        }
    </style>
</head>

<body class="theme-main">
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=522744787823977";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="header">{{{header}}}</div>

    <div id="body">

        <div class="">
            {{#foreach body.components}}
                {{{value}}}
                {{#notequals $last true}}
                {{/notequals}}
            {{/foreach}}
        </div>

    </div>

    <div id="footer">{{{footer}}}</div>

    <script type="text/javascript" src="/js/libs/underscore/underscore.js"></script>
    <script type="text/javascript" src="/js/libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-ui/jquery-ui.min.js"></script>

    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

    <script type="text/javascript" src="/js/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/libs_misc/jquery/jquery.thumbnailScroller.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-waypoints/waypoints.min.js"></script>
    <script type="text/javascript" src="/js/libs_misc/hw-parallax/parallax.min.js"></script>


    <script type="text/javascript" >
          (function($) {
             $(document).ready(function() {

                function changeSidebarHeight() {
                  var sidebarHeight = $('#sidebar').height();
                  $('#main-area').css('min-height', sidebarHeight+50);
                }

                $('#main-area').on('click', function() {
                  var $ = Aloha.jQuery;
                  $('.editable').aloha();
                });

                // var spinner = $('.spinner-input').spinner();
                // spinner.spinner('value', 0);

                if ($('#sidebar').length) {
                  changeSidebarHeight();
                  $( window ).resize(function() {
                    changeSidebarHeight();
                  });
                }

                $('.continue-shopping').on('click touchstart', function() {
                  $('#cart-checkout-modal').modal('hide');
                });

                var cart = $('.shopping-cart, .cart-footer');
                var billing = $('.billing-shipping, .billing-footer');
                var payment = $('.payment, .payment-footer');
                var modalTitle = $('#cart-checkout-modal .modal-title');

                $('.btn-checkout').on('click touchstart', function() {
                  modalTitle.html('<i class="fa fa-credit-card"></i> Checkout');
                  cart.addClass('hidden fadeOut');
                  billing.removeClass('hidden fadeIn');
                });

                $('.back-to-shopping-cart').on('click touchstart', function() {
                  modalTitle.html('<i class="fa fa-shopping-cart"></i> My Cart');
                  cart.removeClass('hidden fadeIn');
                  billing.addClass('hidden fadeOut');
                });

                $('.back-to-billing-shipping').on('click touchstart', function() {
                  billing.removeClass('hidden fadeIn');
                  payment.addClass('hidden fadeOut');
                });

                $('.btn-payment').on('click touchstart', function() {
                  payment.removeClass('hidden fadeIn');
                  billing.addClass('hidden fadeOut');
                });

                $('.btn-confirm-payment').on('click touchstart', function() {
                  modalTitle.html('<i class="fa fa-check-circle-o"></i> Order Placed!');
                  $('.thank-you').removeClass('hidden fadeIn');
                  payment.addClass('hidden fadeOut');
                });

                $('.checkbox').on('change', function() {
                  var shipTab = $('.shipping-tab');
                  if (shipTab.hasClass('hidden')) {
                    shipTab.removeClass('hidden');
                  } else {
                    shipTab.addClass('hidden');
                  }
                });

                $('.parallax').parallax({
                    scroll_factor: 0.5
                });

                if (window.top!=window.self)
                {
                  $('.feature-single-0, .feature-single-1, .feature-single-2, div[data-class=profilepic], .btn-outline').css('opacity', 1);
                }

                if (window.top===window.self) {
                  $(".feature-single-0").waypoint(function (direction) {
                      $(this).addClass("animated fadeIn");
                  }, { offset: $.waypoints('viewportHeight') - 100,
                      triggerOnce: true});

                  $(".feature-single-1").waypoint(function (direction) {
                      $(this).addClass("animated fadeIn");
                  }, { offset: $.waypoints('viewportHeight') - 200,
                      triggerOnce: true});

                  $(".feature-single-2").waypoint(function (direction) {
                      $(this).addClass("animated fadeIn");
                  }, { offset: $.waypoints('viewportHeight') - 300,
                      triggerOnce: true});

                  $("div[data-class=profilepic]").waypoint(function (direction) {
                      $(this).addClass("animated fadeIn");
                  }, { offset: $.waypoints('viewportHeight') - 100,
                      triggerOnce: true});

                  $(".btn-outline").waypoint(function (direction) {
                      $(this).addClass("animated fadeIn");
                  }, { offset: $.waypoints('viewportHeight') - 100,
                      triggerOnce: true});
                }

                $('#myCarousel .item:first-child').addClass('active');

                $('#myCarousel').carousel({
                  interval: 4000
                });

                $('.goback').on('click', function() {
                    window.history.back();
                });

                $('.carousel .item').each(function(){
                  var next = $(this).next();
                  if (!next.length) {
                    next = $(this).siblings(':first');
                  }
                  next.children(':first-child').clone().appendTo($(this));

                  if (next.next().length>0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                  }
                  else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                  }
                });

                 $('#form-subscribe').click(function() {
                     $('#InputEmail').val($('#emailSub').val());
                 });

                 $('#subscribelist').click(function(){

                     $.ajax({
                         type: "POST",
                         url: '/api/1.0/contact/signupnews',
                         data: _.object(_.map($('#form1').serializeArray(), _.values)),
                         success: function(data,textStatus){
                             console.log("Called success")
                             $("#error-msg").removeClass("hidden").html("sucessfully subscribed");
                             setTimeout(function(){
                                 $("#error-msg").addClass('hidden');
                             },2500);


                         },
                         error:function(qXHR, textStatus, errorThrown){
                             console.log("called Error")

                             var response=JSON.parse(qXHR.responseText);

                             $("#error-msg").removeClass("hidden").html(response.status);
                             setTimeout(function(){
                                 $("#error-msg").addClass('hidden');
                             },2500);


                         }

                     });

                 })


                 function append_style() {
                     $("head").append('<STYLE type="text/css"> \
                          .dispersed #center-circle { left: ' + center + 'px;top: 293px; margin: 0;} \
                          .dispersed #circle-1 { left: ' + center_1 + 'px; top: 195px; margin: 0;} \
                          .dispersed #circle-2 { left: ' + center_2 + 'px; top: 195px; margin: 0;} \
                          .dispersed #circle-3 { left: ' + center_3 + 'px; top: 400px; margin: 0;} \
                          .dispersed #circle-4 { left: ' + center_4 + 'px; top: 400px; margin: 0;} \
                          </STYLE>')
                 }
             })
          })(jQuery);
    </script>
</body>

