<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
{{#with component}}
    <div id="{{anchor}}" class="page feature-list">
            <div class="row inner-page">
                <div class="row">
                    <div class="editable" data-class="title">
                        <h1 class="feature-list-title">{{{title}}}</h1>
                    </div>
                    <div class="editable" data-class="subtitle">
                        <p class="feature-list-subtitle col-xs-8 col-xs-offset-2">{{{subtitle}}}</p>
                    </div>
                    <div class="clearfix mb15"></div>
                    {{#each features}}
                    <div class="col-sm-6">
                        <div class="feature-single feature-single-{{@index}}" style="opacity:0">
                            <span class="feature-icon {{{feature-icon}}}"></span>
                            <h3 class="feature-title">
                                <div class="editable" data-class="feature-title">
                                    {{{feature-title}}}
                                </div>
                            </h3>
                            <div class="feature-subtitle">
                                <div class="editable" data-class="feature-subtitle">
                                    {{{feature-subtitle}}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
    </div>
{{/with}}