<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->
<div>
    {{#with component}}
    <div {{#if anchor}} id="{{anchor}}" {{/if}} class="feature-blocks {{#if bgimg.parallax}} parallax {{/if}}" data-image="{{#if bgimg.url}}{{bgimg.url}}{{/if}}" data-width="{{#if bgimg.width}}{{bgimg.width}}{{/if}}" data-height="{{#if bgimg.height}}{{bgimg.height}}{{/if}}" {{#if bgimg.blur}} data-image-class="blur"{{/if}}>
        <div class="inner-page">
            <h1 class="feature-block-title">
                <div class="editable" data-class="title">
                    {{{title}}}
                </div>
            </h1>
            {{#if subtitle}}
                <h3 class="feature-block-subtitle">
                    <div class="editable" data-class="subtitle">
                        {{{subtitle}}}
                    </div>
                </h3>
            {{/if}}
            {{#if text}}
                <div class="lead center" data-class="feature-description">
                    <div class="editable" data-class="text">
                        {{{text}}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    {{/with}}
</div>