<!--
* COPYRIGHT INDIGENOUS.IO, LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div id="assets" class="page">
        {{#with component}}
            <div class="component-header container hidden">
                    <div class="editable" data-class="label">
                        <h2 class="center">{{{label}}}</h2>
                    </div>

                    <div class="editable" data-class="description">
                        <p class="center">{{{description}}}</p>
                    </div>
                </div>
            <!-- Feature Three -->
            <div id="feature_three" class="row inner-page">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <div class="row">
                        {{#each features}}
                            <div class="col-md-offset-3">
                            <span class="{{{feature-icon}}}"></span>
                            <div class="editable" data-class="features.item.title">
                                <h4>{{{feature-title}}}</h4>
                            </div>
                            <div class="editable" data-class="features.item.subtitle">
                                <p>{{{feature-subtitle}}}</p>
                            </div>
                        </div>
                        <div class="pusher"></div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/with}}
    </div>