<!--
* COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div>
    {{#with component}}
    <div class="component-header hidden">
        <div>
            {{{label}}}
        </div>

        <div>
            {{{description}}}
        </div>
    </div>

    <div class="component-body">
        <div class="masthead {{#if img.parallax}} parallax {{/if}}" data-image="{{img.url}}" data-width="{{img.width}}" data-height="{{img.height}}">
            <div class="row">
                <div class="col-xs-12">
                    <div class="home-text">
                        <h1>
                            <div class="editable" data-class="title">{{{title}}}</div>
                        </h1>

                        <p>
                            <div class="editable" data-class="subtitle">{{{subtitle}}}</div>
                        </p>

                        <div class="col-xs-12">
                            <div class="btn-wrap">
                                <button class="btn btn-success btn-block center col-xs-3" href="{{btn.url}}">
                                    <div class="editable" data-class="btn-text">{{btn.text}}</div>
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</div>