<!--
* COPYRIGHT INDIGENOUS.IO, LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<div>
	    <h1>{{post_title}}</h1>
    <p>{{post_author}}</p>
    <p>{{post_content}}</p>
    <p>{{post_excerpt}}</p>
    <p>{{post_status}}</p>
    <p>{{comment_status}}</p>
    <p>{{comment_count}}</p>
</div>
