//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

extends snippets/_layout

block content
    .row
        .main-login.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
            .logo.margin-top-30
                if account
                    if account.business.logo
                        img(src="#{account.business.logo}" style="max-width:300px; max-height:100px; margin: 15px auto; display: block;")
                    else
                        h1.center.company-title #{account.company.name}

            if reset
                .box-forgot
                    form.form-forgot(role="form" action="/forgotpassword/reset/#{token}" method="post")
                        fieldset
                            legend
                                | Forget Password?
                            p
                                | Enter your e-mail address below to reset your password before continuing. #{errMsg}


                            .form-group
                                span.input-icon
                                    if email
                                        input.form-control(type="email", name="username", value="#{email}")
                                    else
                                        input.form-control(type="email", name="username", placeholder="Email")
                                    i.fa.fa-envelope-o
                            .form-group.form-actions
                                span.input-icon
                                    input.form-control.password(type="password", name="password", placeholder="Password")
                                    i.fa.fa-lock
                            .form-group.form-actions
                                span.input-icon
                                    input.form-control.password(type="password", name="password2", placeholder="Re-Enter Password")
                                    i.fa.fa-lock
                            .form-actions
                                button.btn.btn-primary.pull-right(type="submit", value="Login" role="button")
                                    | Reset Password&nbsp;
                                    i.fa.fa-arrow-circle-right
                    // start: COPYRIGHT
                    .copyright
                        | &#169;
                        span.current-year
                        span.text-bold.text-uppercase  Indigenous Software, Inc.
                        | .
                        span All rights reserved
                    // end: COPYRIGHT
                // end: FORGOT BOX

            else if infoMsg
                .box-forgot
                    p #{infoMsg}
            else if userNotFound
                .box-forgot
                    p No user with email address [
                        span.text-bold #{userNotFound}
                        | ] was found.  Please check that your email is entered correctly and try again.
                    p Alternatively you may contact support at&nbsp;
                        a(href="mailto:#{supportEmail}")
                            | !{supportEmail}
                    p.text-center
                        a.btn.btn-primary(href="/forgotpassword")
                            i.fa.fa-arrow-circle-left
                            | &nbsp;Go Back
            else if errorMsg
                .box-forgot
                    p We have sent an email with a link to reset the password to the email address associated with this account.  If you do not receive this email, please contact support by email (
                        a(href="mailto:#{supportEmail}") #{supportEmail}
                        | ).
            else
                .box-forgot
                    form.form-forgot(role="form", action="/forgotpassword" method="post")
                        fieldset
                            legend
                                | Forget Password?
                            p
                                | Enter your e-mail address below to reset your password.
                            .form-group
                                span.input-icon
                                    input.form-control(type="email", name="username", placeholder="Email")
                                    i.fa.fa-envelope-o
                            .form-actions
                                button.btn.btn-primary.pull-right(type="submit", value="Login" role="button")
                                    | Recover Password&nbsp;
                                    i.fa.fa-arrow-circle-right
                    // start: COPYRIGHT
                    .copyright
                        | &#169;
                        span.current-year
                        span.text-bold.text-uppercase  Indigenous Software, Inc.
                        | .
                        span All rights reserved
                    // end: COPYRIGHT
                // end: FORGOT BOX

