extends snippets/_layout

block content
  .row
    .main-login.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
      .logo.margin-top-30
        if account
          if account.business.logo
            img(src="#{account.business.logo}" style="max-width:300px; max-height:100px; margin: 15px auto; display: block;")
          else
            h1.center.company-title #{account.company.name}

      // start: LOGIN BOX
      .box-login
        form.form-login
          fieldset
            legend
              | Choose An Account
            ul
              each val in accounts
                a(href="/reauth/#{val.id}")
                  li(ng-repeat='accountinavaliableAccounts')
                    div(style="width:130px;background: #e7e7e7;padding: 5px;border-radius: 3px;margin-right: 15px;float:left")
                      img(src="#{val.logo}", style="max-width: 120px;max-height: 30px;margin: 0 auto;display: block;")
                    span(style="line-height: 33px;")=val.subdomain
                    i.fa.fa-chevron-right.pull-right(style="line-height: 33px;color:#4bafca")
                  div.clearfix
        // start: COPYRIGHT
        .copyright
          | &#169;
          span.current-year
          span.text-bold.text-uppercase  Indigenous Software, Inc
          span  All rights reserved
        // end: COPYRIGHT
      // end: LOGIN BOX
