extends snippets/_layout

block content
  .row
    .main-login.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .logo.margin-top-30
        if account
          if account.business.logo
            img(src="#{account.business.logo}" style="max-width:300px; max-height:100px; margin: 15px auto; display: block;")
          else
            h1.center.company-title #{account.company.name}
      // start: ADD ACCOUNT BOX
      if isGroupAdmin
        .box-login.choose-account
          form.form-choose-account(action='/addaccount', method='POST')
            fieldset
              legend
                | Add An Account
              span Subdomain:
              input(type='text', name='subdomain', id='subdomain')
              input(type='submit' value='Add')
      // start: LOGIN BOX
      .box-login.choose-account
        form.form-login
          fieldset
            legend
              | Choose An Account
            ul
              each val in accounts
                li(ng-repeat='accountinavaliableAccounts')
                  a(href="/reauth/#{val.id}")
                    div(class="account-logo")
                      if val.logo
                        img(src="#{val.logo}")                    
                    if val.orgId != 1 && val.orgId != 4 && val.orgId !=5 && val.orgId !=6
                      span=val.subdomain+ domainPrefix + '.indigenous.io'
                    if val.subdomain && val.orgId == 1
                      span=val.subdomain+ domainPrefix + '.gorvlvr.com'
                    if val.subdomain && val.orgId == 4
                      span=val.subdomain+ domainPrefix + '.techevent.us'
                    if val.subdomain && val.orgId == 5
                      span=val.subdomain + domainPrefix + '.leadsource.cc'
                    if val.subdomain && val.orgId == 6
                      span=val.subdomain + domainPrefix + '.amrvlvr.com'
                    i.fa.fa-chevron-right.pull-right
                  div.clearfix
        // start: COPYRIGHT
        .copyright
          | &#169;
          span.current-year
          span.text-bold.text-uppercase  Indigenous Software, Inc
          span  All rights reserved
        // end: COPYRIGHT
      // end: LOGIN BOX
