//-
    * COPYRIGHT INDIGENOUS SOFTWARE, INC., LLC 2014
    *
    * All use or reproduction of any or all of this content must be approved.
    * Please contact info@indigenous.io for approval or questions.

extends snippets/_layout

block content
    .row
      .main-login.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
        .logo.margin-top-30
          if account
                if account.business.logo
                    img(src="#{account.business.logo}" style="max-width:300px; max-height:100px; margin: 15px auto; display: block;")
                else if account.company.name
                    h1.center.company-title #{account.company.name}
                else if account.company.customDomain
                    h1.center.company-title #{account.company.customDomain}
                else if account.domain
                    h1.center.company-title #{account.domain}
                else
                    h1.center.company-title #{account.subdomain}

        // start: LOGIN BOX
        .box-login
          form.form-login(action="/login" method="post")
            fieldset
              legend
                | Sign in to your account
              p
                | Please enter your name and password to log in or use social network.
              .row.social.btn-toolbar.margin-bottom-15.center
                a.btn.btn-large.btn-default(href="/login/facebook")
                    i.fa.fa-facebook

                a.btn.btn-large.btn-default(href="/login/twitter")
                    i.fa.fa-twitter

                a.btn.btn-large.btn-default(href="/login/google")
                    i.fa.fa-google-plus

                //- a.btn.btn-large.btn-default(href="/login/linkedin")
                //-     i.fa.fa-linkedin
              .form-group
                span.input-icon
                  input.form-control(type="text", name="username", placeholder="Username")
                  i.fa.fa-user
              .form-group.form-actions
                span.input-icon
                  input.form-control.password(type="password", name="password", placeholder="Password")
                  i.fa.fa-lock
                  a.forgot.hidden-xs(href="/forgotpassword")
                    | I forgot my password
              script.
                document.write('<input type="hidden" name="from" value="'+document.location.href+'"/>');
              .error #{message}
              .form-actions
                p.text-center.visible-xs
                  a(href="/forgotpassword")
                    | I forgot my password
                button.btn.btn-primary.btn-o.btn-wide.pull-right.hidden-xs(type="submit", value="Login")
                  | Login 
                  i.fa.fa-arrow-circle-right
                button.btn.btn-primary.btn-o.btn-block.visible-xs(type="submit", value="Login")
                  | Login 
                  i.fa.fa-arrow-circle-right
              .new-account
                | Don't have an account yet? 
                a(href="#{wwwUrl}/signup")
                  | Create an account
          // start: COPYRIGHT
          .copyright
            | &#169;
            span.current-year
            span.text-bold.text-uppercase  Indigenous Software, Inc
            span  All rights reserved
          // end: COPYRIGHT
        // end: LOGIN BOX
