//- START AUTOINCLUDE SECTION
// jQuery
script(src='../js/libs/jquery/dist/jquery.min.js')

script(src='../js/libs/jquery-ui/jquery-ui.min.js')
// Fastclick
script(src='../js/libs/fastclick/lib/fastclick.js')
// Angular
script(src='../js/libs/angular/angular.min.js')
script(src='../js/libs/angular-cookies/angular-cookies.min.js')
script(src='../js/libs/angular-animate/angular-animate.min.js')
script(src='../js/libs/angular-touch/angular-touch.min.js')
script(src='../js/libs/angular-sanitize/angular-sanitize.min.js')
script(src='../js/libs/angular-ui-router/release/angular-ui-router.min.js')
script(src='../js/libs/angular-filter/dist/angular-filter.min.js')
// Angular storage
script(src='../js/libs/ngstorage/ngStorage.min.js')
// Angular Translate
script(src='../js/libs/angular-translate/angular-translate.min.js')
script(src='../js/libs/angular-translate-loader-url/angular-translate-loader-url.min.js')
script(src='../js/libs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js')
script(src='../js/libs/angular-translate-storage-local/angular-translate-storage-local.min.js')
script(src='../js/libs/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js')
// Angular Card
//- script(src='../js/libs/card/lib/js/card.js')
script(src='../js/libs/angular-card/src/card.js')

script(src='../js/libs/angular-http-auth/src/http-auth-interceptor.js')

// oclazyload
script(src='../js/libs/oclazyload/dist/ocLazyLoad.min.js')
// UI Bootstrap
script(src='../js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
// JoyRide
script(src='../js/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='../js/libs_misc/ng-joyride/ng-joyride.js')
// Loading Bar
script(src='../js/libs/angular-loading-bar/build/loading-bar.min.js')
// Angular Scroll
script(src='../js/libs/angular-scroll/angular-scroll.min.js')
// Angular Scrollify
//script(src='../js/libs/angular-slugify/angular-slugify.js')
// Underscore
script(src='../js/libs/underscore/underscore-min.js')
script(src='../js/libs/allmighty-autocomplete/script/autocomplete.js')
script(src='../js/libs/bootstrap-icon-picker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.2.0.min.js')
script(src='../js/libs/bootstrap-icon-picker/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js')
script(src="../js/libs/angular-google-places-autocomplete/dist/autocomplete.min.js")
script(src="../js/libs/Sortable/Sortable.min.js")
script(src="../js/libs/Sortable/ng-sortable.js")
script(src="../js/libs/slick-carousel/slick/slick.js")
script(src="../js/libs/angularjs-socialshare/dist/angular-socialshare.js")
script(src='../js/libs_misc/intl-tel-input/build/js/intlTelInput.min.js')
//config
script(src="../js/scripts/config.js")
script(src="../js/utils/namespaces.js")
script(src="../js/libs/eq.js/dist/eq.polyfilled.min.js")
//- END AUTOINCLUDE SECTION

// Scripts
script(src='/admin/assets/var/am/js/app.js')
script(src='/admin/assets/var/am/js/main.js')
script(src='/admin/assets/var/am/js/config.constant.js')
script(src='/admin/assets/var/am/js/config.router.js')
// Directives
script(src='/admin/assets/js/directives/toggle.js')
script(src='/admin/assets/js/directives/perfect-scrollbar.js')
script(src='/admin/assets/js/directives/empty-links.js')
script(src='/admin/assets/js/directives/sidebars.js')
script(src='/admin/assets/js/directives/off-click.js')
script(src='/admin/assets/js/directives/full-height.js')
script(src='/admin/assets/js/directives/panel-tools.js')
script(src='/admin/assets/js/directives/char-limit.js')
script(src='/admin/assets/js/directives/dismiss.js')
script(src='/admin/assets/js/directives/compare-to.js')
script(src='/admin/assets/js/directives/select.js')
script(src='/admin/assets/js/directives/messages.js')
script(src='/admin/assets/js/directives/chat.js')
script(src='/admin/assets/js/directives/sparkline.js')
script(src='/admin/assets/js/directives/touchspin.js')
script(src='/admin/assets/js/directives/file-upload.js')
script(src='/admin/assets/js/directives/activity.js')
script(src='/admin/assets/js/directives/live.visitor.js') 
script(src='/admin/assets/js/directives/social-feed.js')
script(src='/admin/assets/js/directives/billing.js')
script(src='/admin/assets/js/directives/skeuocard.js')
//script(src='/admin/assets/js/directives/onboarding.js')
script(src='/admin/assets/js/directives/err-src.js')
script(src='/admin/assets/js/directives/confirm-click.js')
script(src='/admin/assets/js/directives/numbers-only.js')
script(src='/admin/assets/js/directives/smart-table-sort.js')
script(src="/admin/assets/js/directives/include-replace.js")
script(src="/admin/assets/js/directives/carousel.js")
script(src="/admin/assets/js/directives/angularparallax.js")
script(src="/admin/assets/js/directives/file-change.js")
script(src="/admin/assets/js/directives/show-settings.js")
script(src="/admin/assets/js/directives/export.js")
script(src="/admin/assets/js/directives/ind-draggable.js")
script(src="/admin/assets/js/directives/string-to-number.js")
script(src="/admin/assets/js/directives/lazy-load-images.js")
script(src="/admin/assets/js/directives/custom-pagination.js")
script(src="/admin/assets/js/directives/navprompt.js")
script(src="/admin/assets/js/directives/ind-slider.js")
script(src="/admin/assets/js/directives/transaction.js")
script(src="/admin/assets/js/directives/slick-slider.js")
script(src='/admin/assets/js/directives/indi-date-picker.js')
script(src='/admin/assets/js/directives/modal-touch-inputs.js')
script(src="/admin/assets/js/directives/userScripts.js")
script(src="/admin/assets/js/directives/globalScripts.js")
script(src="/admin/assets/js/directives/st-filtered-collection.js")
script(src="/admin/assets/js/directives/widget-header-label.js")
script(src='/admin/assets/js/directives/ind-international-tel-number.js')
script(src='/admin/assets/js/directives/indi-accordion.js')
// Components
script(src="/admin/assets/js/directives/editor.js")
script(src="/admin/assets/js/directives/social-links.js")
script(src="/admin/assets/js/directives/components/blog.js")
script(src="/admin/assets/js/directives/components/blog-teaser.js")
script(src="/admin/assets/js/directives/components/contact-us.js")
script(src="/admin/assets/js/directives/components/coming-soon.js")
script(src="/admin/assets/js/directives/components/email.js")
script(src="/admin/assets/js/directives/components/feature-block.js")
script(src="/admin/assets/js/directives/components/feature-list.js")
script(src="/admin/assets/js/directives/components/footer.js")
script(src="/admin/assets/js/directives/components/image-text.js")
script(src="/admin/assets/js/directives/components/image-gallery.js")
script(src="/admin/assets/js/directives/components/masthead.js")
script(src="/admin/assets/js/directives/components/meet-team.js")
script(src="/admin/assets/js/directives/components/navigation.js")
script(src="/admin/assets/js/directives/components/products.js")
script(src="/admin/assets/js/directives/components/pricing-tables.js")
script(src="/admin/assets/js/directives/components/simple-form.js")
script(src="/admin/assets/js/directives/components/single-post.js")
script(src="/admin/assets/js/directives/components/social-link.js")
script(src="/admin/assets/js/directives/components/testimonials.js")
script(src="/admin/assets/js/directives/components/text-only.js")
script(src="/admin/assets/js/directives/components/thumbnail-slider.js")
script(src="/admin/assets/js/directives/components/top-bar.js")
script(src="/admin/assets/js/directives/components/video.js")
script(src="/admin/assets/js/directives/components/video-gallery.js")
script(src="/admin/assets/js/directives/tooltip.js")

script(src="/admin/assets/js/filters/to_trusted.js")
script(src="/admin/assets/js/filters/cleanType.js")


//script(src='/admin/assets/js/directives/modal.js')
// Controllers
script(src='/admin/assets/js/controllers/mainCtrl.js')
// Services
script(src='/admin/assets/js/services/account.js')
script(src='/admin/assets/js/services/product.js')
script(src='/admin/assets/js/services/website.js')
script(src='/admin/assets/js/services/user.js')
script(src='/admin/assets/js/services/contact.js')
script(src='/admin/assets/js/services/import_contacts.js')
script(src='/admin/assets/js/services/chart_analytics.js')
script(src='/admin/assets/js/services/chart_commerce.js')
script(src='/admin/assets/js/services/chart_email.js')
script(src='/admin/assets/js/services/common.js')
script(src='/admin/assets/js/services/order.js')
script(src='/admin/assets/js/services/payment.js')
script(src='/admin/assets/js/services/toaster.js')
script(src='/admin/assets/js/services/geocode.js')

// Google Apis
script(src='//maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,places&key=AIzaSyDMI1SIOEHJm83bMZ-lWjzZN1nXdk6S0X0')
//Stripe
script(src='https://js.stripe.com/v2/?tmp')

script(type="text/javascript").
    (function(w,d,s,g,js,fs){g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}}; js=d.createElement(s);fs=d.getElementsByTagName(s)[0]; js.src='https://apis.google.com/js/platform.js'; fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};}(window,document,'script'));

script(src="../js/libs_misc/crypto/hmac-sha256.js")
script(src="../js/libs_misc/crypto/enc-base64-min.js")


// Simple Site Builder
script(src="/admin/assets/js/ssb-site-builder/ssb-site-builder.pages.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-site-builder.service.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-site-builder.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-site-builder.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-sidebar/ssb-sidebar.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-sidebar/ssb-sidebar.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-sidebar/ssb-sidebar-settings-panel/ssb-sidebar-settings-panel.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-sidebar/ssb-sidebar-settings-panel/ssb-sidebar-settings-panel.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-topbar/ssb-topbar.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-topbar/ssb-topbar.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-action-buttons/ssb-action-buttons.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-action-buttons/ssb-action-buttons.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-edit-control/ssb-edit-control.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-edit-control/ssb-edit-control.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-edit-wrap/ssb-edit-wrap.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-edit-wrap/ssb-edit-wrap.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-add-section-modal/ssb-add-section-modal.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-page-settings-modal/ssb-page-settings-modal.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-page-section/ssb-page-section.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-page-section/ssb-page-section.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-text/ssb-text.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-text/ssb-text.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-image/ssb-image.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-image/ssb-image.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-theme-btn/ssb-theme-btn.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-theme-btn/ssb-theme-btn.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-text-settings/ssb-text-settings.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-text-settings/ssb-text-settings.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-image-gallery/ssb-image-gallery.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-image-gallery/ssb-image-gallery.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-image-gallery/ssb-image-settings.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-image-gallery/ssb-image-settings.controller.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-form-builder/ssb-form-builder.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-form-builder/ssb-form-builder.controller.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-form-donate/ssb-form-donate.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-form-donate/ssb-form-donate.controller.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-list/ssb-blog-post-list.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-list/ssb-blog-post-list.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-card/ssb-blog-post-card.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-card/ssb-blog-post-card.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-detail/ssb-blog-post-detail.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post-detail/ssb-blog-post-detail.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-blog-post/ssb-blog-post.service.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-post/ssb-recent-post.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-post/ssb-recent-post.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-tag/ssb-recent-tag.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-tag/ssb-recent-tag.component.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-category/ssb-recent-category.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-recent-category/ssb-recent-category.component.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-location-finder/ssb-location-finder.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-location-finder/ssb-location-finder.controller.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-component-loader.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-component-loader.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/social-link/modal.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/contact-us/modal.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-form-builder/modal.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-site-templates/ssb-site-templates.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-site-templates/ssb-site-templates.controller.js")


script(src="/admin/assets/js/ssb-site-builder/ssb-account-templates/ssb-account-templates.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-account-templates/ssb-account-templates.controller.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-blog-editor/ssb-blog-editor.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-controls/ssb-blog-editor/ssb-blog-editor.controller.js")

script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-rss-feed/ssb-rss-feed.service.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-rss-feed/ssb-rss-feed.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-components/ssb-rss-feed/ssb-rss-feed.controller.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-navigation-css-loader.component.js")
script(src="/admin/assets/js/ssb-site-builder/ssb-component-loader/ssb-navigation-component-loader.component.js")

//DOHY Dashboard
script(src="/admin/assets/js/dashboard/dashboard-analytic-tile/dashboard-analytic-tile.component.js")
script(src="/admin/assets/js/dashboard/dashboard-workstream-tile/dashboard-workstream-tile.component.js")
script(src="/admin/assets/js/dashboard/dashboard-inbox-widget/dashboard-inbox.component.js")
script(src="/admin/assets/js/indi-email-campaign/campaign-recipient-details/campaign-recipient.component.js")

//Indi Login Modal
script(src="assets/js/indi-login-modal/indi-login-modal.component.js")

//Indi email builder
script(src="/admin/assets/js/indi-email-builder/indi-email-builder.service.js")
script(src="/admin/assets/js/indi-email-builder/indi-email-builder.controller.js")
script(src="/admin/assets/js/indi-email-builder/indi-email-builder.component.js")
script(src="/admin/assets/js/indi-email-builder/email-component-loader/email-component-loader.component.js")
script(src="/admin/assets/js/indi-email-builder/email-component-loader/email-component-loader.controller.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-action-buttons/email-action-buttons.component.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-action-buttons/email-action-buttons.controller.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-edit-control/email-edit-control.component.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-edit-control/email-edit-control.controller.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-sidebar/email-sidebar.component.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-sidebar/email-sidebar.controller.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-sidebar/email-sidebar-settings-panel/email-sidebar-settings-panel.component.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-sidebar/email-sidebar-settings-panel/email-sidebar-settings-panel.controller.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-topbar/email-topbar.component.js")
script(src="/admin/assets/js/indi-email-builder/email-controls/email-topbar/email-topbar.controller.js")

//Indi email campaign
script(src="/admin/assets/js/indi-email-campaign/indi-email-campaign.service.js")
script(src="/admin/assets/js/indi-email-campaign/indi-email-campaign.controller.js")
script(src="/admin/assets/js/indi-email-campaign/indi-email-campaign.component.js")

//- Site Analytics
script(src="/admin/assets/js/site-analytics/site-analytics.service.js")

script(src="../js/libs/js-marker-clusterer/src/markerclusterer.js")

script.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

if environment === 'local'
    script(type="text/javascript").
        var appId = 'ozyfh8ff';
        if(window.indigenous && window.indigenous.orgId === 2) {
            appId = 'we6izefz';//TEST Securematics
        }
        window.intercomSettings = {
            name: '#{user.first} #{user.last}',
            email: '#{user.email}',
            user_hash: '#{user.intercomHash}',
            app_id: appId,
            'accountId':#{account._id},
            'userId':#{user._id}
        };
        console.log('Test Environment: #{environment}');

    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

else if environment === 'test'
    script(type="text/javascript").
        var appId = 'ozyfh8ff';
        if(window.indigenous && window.indigenous.orgId === 2) {
            appId = 'we6izefz';//TEST Securematics
        }
        window.intercomSettings = {
            name: '#{user.first} #{user.last}',
            email: '#{user.email}',
            user_hash: '#{user.intercomHash}',
            app_id: appId,
            'accountId':#{account._id},
            'userId':#{user._id}
        };
        console.log('Test Environment: #{environment}');

    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
else
    script(type="text/javascript").
        var appId = 'b3st2skm';
        if(window.indigenous && window.indigenous.orgId === 2) {
            appId = 'ncf278sy';//TEST Securematics
        }
        window.intercomSettings = {
            name: '#{user.first} #{user.last}',
            email: '#{user.email}',
            user_hash: '#{user.intercomHash}',
            app_id: appId,
            'accountId':#{account._id},
            'userId':#{user._id}
        };

    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
