doctype html
html(data-ng-app="courseApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        title #{title}
        link(href='/js/libs/bootstrap/dist/css/bootstrap-theme.css?v=#{cacheBuster}', rel='stylesheet')
        link(href='/js/libs/bootstrap/dist/css/bootstrap.css?v=#{cacheBuster}', rel='stylesheet')
        link(href='/pipeshift/css/theme.css?v=#{cacheBuster}', rel='stylesheet')
        link(href='/pipeshift/css/main.css', rel='stylesheet')
        script(src="/js/libs/angular/angular.js")
        script(src="/pipeshift/js/constants.js")
        script(src="/pipeshift/js/courseApp.js")
        script(src="/pipeshift/js/modules/video/directive/coursePreview.js")
        script(src="/pipeshift/js/modules/course/controller/CourseController.js")
        script(src="https://checkout.stripe.com/checkout.js")
        script(src="/pipeshift/js/directive/stripePayButton.js")
        script(src="/pipeshift/js/modules/video/directive/videoTitle.js")
        body.standalone-playlist-body
            course-preview.clearfix.standalone-playlist(course="#{course}",min-height="minHeight",ng-controller="CourseController")