doctype html
html(data-ng-app="courseVideoApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        title #{title}
        link(href='/js/libs/bootstrap/dist/css/bootstrap-theme.css?v=#{cacheBuster}', rel='stylesheet')
        link(href='/js/libs/bootstrap/dist/css/bootstrap.css?v=#{cacheBuster}', rel='stylesheet')
        link(href='/js/libs/videogular-themes-default/videogular.min.css?v=#{cacheBuster}', rel='stylesheet')
        link(href='/pipeshift/css/theme.css?v=#{cacheBuster}', rel='stylesheet')
        link(href='/pipeshift/css/main.css', rel='stylesheet')
        script(src='/js/libs/angular/angular.js')
        script(src="/js/libs/videogular/videogular.min.js")
        script(src="/js/libs_misc/videogular/youtube.js")
        script(src="/js/libs/videogular-controls/controls.min.js")
        script(src="/js/libs/videogular-overlay-play/overlay-play.min.js")
        script(src="/js/libs/videogular-poster/poster.min.js")
        script(src="/js/libs/videogular-buffering/buffering.min.js")
        script(src="/js/libs/angular-sanitize/angular-sanitize.min.js")
        script(src="/pipeshift/js/constants.js")
        script(src="/pipeshift/js/courseVideoApp.js")
        script(src="/pipeshift/js/modules/coursevideo/controller/CourseVideoController.js")
        script(src="https://checkout.stripe.com/checkout.js")
        script(src="/pipeshift/js/directive/stripePayButton.js")
        script(src="/pipeshift/js/modules/video/directive/videoPreview.js")
        script(src="/pipeshift/js/modules/video/directive/videoTitle.js")
        script(src="/pipeshift/js/modules/video/directive/videoPlayerVG.js")
        body.standalone-video-body
            video-preview.clearfix.standalone-video(video="#{video}",template="#{template}",edit-mode="false",course-details="#{courseDetails}",ng-controller="CourseVideoController")