<!--
* COPYRIGHT INDIGENOUS.IO, LLC 2014
*
* All use or reproduction of any or all of this content must be approved.
* Please contact info@indigenous.io for approval or questions.
*
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <meta name="author" content="">

    {{#if settings.favicon}}
        <link rel="shortcut icon" href="{{settings.favicon}}">
    {{else}}
        <link rel="shortcut icon" href="https://s3.amazonaws.com/indigenous-themes/assets/icons/favicon.ico"/>
    {{/if}}

          <link rel="stylesheet" href="/css/style.default.css">

    <title>{{title}}</title>

    <!-- TODO add stylesheets and responsive fallback for IE -->
    <style type="text/css">
        .navbar-white {
            color: rgb({{ settings.color-palette.color.[0] }},{{ settings.color-palette.color.[1] }},{{ settings.color-palette.color.[2] }});
            border-bottom: 3px solid rgb({{ settings.color-palette.color.[0] }},{{ settings.color-palette.color.[1] }},{{ settings.color-palette.color.[2] }}) !important;
        }
        .color-1 {
            background: rgb({{ settings.color-palette.color.[0] }},{{ settings.color-palette.color.[1] }},{{ settings.color-palette.color.[2] }});
            color: #ffffff;
        }
        .color-8 {
            background: rgb({{ settings.color-palette.palette.[7].[0] }},{{ settings.color-palette.palette.[7].[1] }},{{ settings.color-palette.palette.[7].[2] }});
        }
        .btn-orange {
            background: rgb({{ settings.color-palette.palette.[1].[0] }},{{ settings.color-palette.palette.[1].[1] }},{{ settings.color-palette.palette.[1].[2] }})!important;
            border-bottom: 5px solid rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }})!important;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            border-color: rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }});
        }
        .btn-orange:hover {
            background: rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }})!important;
            border-bottom: 5px solid rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }})!important;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            border-color: rgb({{ settings.color-palette.palette.[2].[0] }},{{ settings.color-palette.palette.[2].[1] }},{{ settings.color-palette.palette.[2].[2] }});
        }
    </style>
</head>

<body class="theme-1">
    <div id="header">{{{header}}}</div>

    <div id="body">

        <!-- Temporary ... Will be replaced with components-->

        <div id="myCarousel" class="carousel slide">
          <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class=""></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="fill" style="background-image:url('/assets/images/temp-theme/slider-1.jpg');"></div>
                <div class="carousel-caption" style="display: none;">
                  <h2>Yoga Instruction</h2>
                  <a href="#" class="button">View Schedule</a>
                </div>
              </div>
              <div class="item ">
                <div class="fill" style="background-image:url('/assets/images/temp-theme/slider-1.jpg');"></div>
                <div class="carousel-caption" style="display: none;">
                  <h2>Nutrition Consultaion</h2>
                  <a href="#" class="button">Sign Up</a>
                </div>
              </div>
              <div class="item ">
                <div class="fill" style="background-image:url('/assets/images/temp-theme/slider-1.jpg');"></div>
                <div class="carousel-caption" style="display: none;">
                  <h2>Weighted Yoga</h2>
                  <a href="#" class="button">View Schedule</a>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
        </div>

        <div id="blog-posts" class="section-colored">
            <div class="container">
                <ul>
                    <li>
                        <div class="col-xs-3 date">10 May 2013
                        <span class="blog-dot"></span>
                        </div>
                        <div class="col-xs-9 post">
                            <h4>Blog Post</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </li>
                    <li>
                        <div class="col-xs-3 date">10 May 2013
                        <span class="blog-dot"></span>
                        </div>
                        <div class="col-xs-9 post">
                            <h4>Blog Post</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </li>
                    <li>
                        <div class="col-xs-3 date">10 May 2013
                        <span class="blog-dot"></span>
                        </div>
                        <div class="col-xs-9 post">
                            <h4>Blog Post</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </li>
                    <li>
                        <div class="col-xs-3 date">10 May 2013
                        <span class="blog-dot"></span></div>
                        <div class="col-xs-9 post">
                            <h4>Blog Post</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="team-members">
            <div class="container">
                <h3>Team</h3>
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
            </div>
        </div>

        <!-- END Temporary ... Will be replaced with components-->

        <div class="mb15 clearfix"></div>

        {{#foreach body.components}}
            {{{value}}}
            {{#notequals $last true}}
                <hr/>
            {{/notequals}}
        {{/foreach}}
    </div>

    <br/><br/>
    <div id="footer">{{{footer}}}</div>

    <script type="text/javascript" src="/js/libs/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/js/libs/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript">
        /* Carousel */
        $('.carousel').each(function() {
            $(this).carousel({interval: 4000});
        });
        //$('[id^="myCarousel"]').carousel({interval: 4000});

        $('[id^="myCarousel"]').on('slide.bs.carousel', function() {
            $('.carousel-caption').css('display', 'none');
        });

        $('[id^="myCarousel"]').on('slid.bs.carousel', function() {
            $('.carousel-inner > .item.active .carousel-caption').fadeIn("slow");
        });

        $(".link-gallery-image").hover(
            function() {
                var opac = 1;
                $(this).children('.overlay-gallery-image').animate({
                    opacity: opac
                }, 500);
            }, function() {
                $(this).children('.overlay-gallery-image').animate({
                    opacity: 0
                }, 500);
            }
        );

        // $(".carousel-inner").swipe({
        //     swipeLeft: function(event, direction, distance, duration, fingerCount) {
        //         $(this).parent().carousel('next');
        //     },
        //     swipeRight: function() {
        //         $(this).parent().carousel('prev');
        //     },
        //     threshold: 0
        // });
        /***********/

    </script>
</body>